[2014-09-24 06:26] stefanalund opened #1 "HEVC/H.265"
Add support for the HEVC/H.265 video codec.

[2014-09-24 06:47] stefanalund opened #2 "Windows support"
Add support for Windows.

[2014-09-27 16:33] stefanalund opened #3 "DataChannel"
Add support for the WebRTC DataChannel. We are working on this and hope to have a solution soon.

[2014-09-28 19:09] stefanalund opened #4 "OpenWebRTC.framework"
Create an OpenWebRTC.framework for iOS and OS X.

[2014-09-29 17:49] stefhak opened #5 "Add statistics reporting API"
According to https://github.com/w3c/webrtc-stats

[2014-10-02 09:43] sdroege opened #6 "Allow non-static linking to GStreamer plugins, GObject-Introspection typelibs, etc"
This will be needed for Linux distributions to package this and for allowing integration into existing Linux platforms.

Changes needed are mostly build related and in owr_init(), and gstnice.h include would have to be removed

[2014-10-02 15:54] voalteking opened #9 "Could not build graphviz -- cannot stat ‘.deps/dtclose.Tpo’: No such file or directory"
[code]

[2014-10-02 16:21] ghost opened #11 "[Mac] Error creating git in xz -- Directory xz is not a git. This is an internal error"
[code]

[2014-10-05 08:15] superdump opened #15 "Mac OS X 10.9 Mavericks JavaScriptCore / Seed crash"
There is a known issue using the daemon on Mac OS X 10.9 Mavericks at the moment. It appears to be a bug in the JavaScriptCore framework that does not occur on 10.10 Yosemite, nor 10.8 Mountain Lion. We are working on a fix.

Plain getUserMedia still works fine but a SHA256 call from JavaScript to GLib to compute the hash causes a crash:

1   0x109f665d1 seed_value_to_uchar
2   0x109f67def seed_gi

[2014-10-05 08:34] ticapix opened #16 "build-gst-plugins-bad.sh: no ext/dtls directory"
Hello,

I'm trying to build openwebrtc following your doc and ./build-all.sh -r linux is failing with:

[code]

I've checked the ./build-gst-plugins-bad.sh script and it's checking out the source from git://anongit.freedesktop.org/git/gstreamer/gst-plugins-bad at version 1.4.3.
Browsing the repo shows no ext/dtls folder.

The only repo I found with a ext/dtls folder is http://cgit.collabora.com/gi

[2014-10-05 10:29] #16 closed, assigned to nobody

[2014-10-05 16:15] b95505017 opened #17 "Build failed for OS X"
Not sure what the error is, please help me, thanks!!

ld: warning: could not create compact unwind for _ffi_call_unix64: does not use RBP or RSP based frame
  GISCAN Owr-0.1.gir
dyld: Symbol not found: _g_io_stream_is_datagram
  Referenced from: /Users/yuhsuanlin/Documents/ikala/openwebrtc/build/x86_64-apple-darwin/owr/.libs/libopenwebrtc.3601.dylib
  Expected in: flat namespace
 in /Users/yuhsuan

[2014-10-05 16:30] #17 closed, assigned to nobody

[2014-10-05 16:38] b95505017 opened #18 "How to use OpenWebRTC framework for Android?"
I follow the build tutorial, it seems that ./build.sh -r android is successful.
 /Users/yuhsuanlin/Documents/ikala/openwebrtc/install-sh -c -d '/Users/yuhsuanlin/Documents/ikala/openwebrtc/out/arm-linux-androideabi/./share/doc/libopenwebrtc'
 /usr/bin/install -c -m 644 /Users/yuhsuanlin/Documents/ikala/openwebrtc/README /Users/yuhsuanlin/Documents/ikala/openwebrtc/COPYING /Users/yuhsuanlin/Documen

[2014-10-06 09:54] eelcocramer opened #20 "Could not build graphviz during bootstrapping"
Graphiz cannot be linked as it cannot find `-lpython2.7`.

Any ideas?

I was using a python version I installed using homebrew but I've changed my environment so I'm using the system installed version. But I still get the error.

[code]

[2014-10-06 10:49] #20 closed, assigned to nobody

[2014-10-06 14:28] eelcocramer opened #24 "Building ios/osx targets on osx result in: No rule to make target `INSTALL', needed by `all-am'. Stop."
The build fails for OSX and / or iOS targets.

I issue `./build -r osx` and the build ends with the following error:

[code]

[2014-10-06 15:21] #24 closed, assigned to nobody

[2014-10-06 15:45] #15 closed, assigned to nobody

[2014-10-07 01:21] bill-auger opened #28 "dependencies build fails when run twice"
after running scripts/dependencies/build-all.sh a second time after a successful build (this was necessary when the main build failed because of a bug in the dependencies phase) - at the very end (after ~90 minutes on a P4) it fails with

    Creating file release for linux
    File release exists. Please remove old file release if you want to create a new one.
    ./build-all.sh -- Could not crea

[2014-10-08 10:40] mccob opened #30 "impossible to build bootstrap on mac os x 10.9.5"
git clone --recursive https://github.com/mccob/openwebrtc.git
cd openwebrtc
cd scripts/bootstrap
./bootstrap.sh -r osx

and after few seconds, sh script block here :

create mode 100644 xz-5.0.5/windows/INSTALL-Windows.txt
 create mode 100644 xz-5.0.5/windows/README-Windows.txt
 create mode 100644 xz-5.0.5/windows/build.bash
[master 9a4ef0a] tag file identifying the build script that installed the

[2014-10-08 20:40] noodlemichaelmartin opened #32 "Unable to build ios-simulator dependencies on OS X Mavericks (10.9.5)"
I am attempting to build openWebRTC for use with Bowser, but I am running into errors when attempting to build the dependencies for ios-simulator on Mac OS X Mavericks (10.9.5):

cd /temp (this is **not** a typo for /tmp)
git clone --recursive git@github.com:EricssonResearch/openwebrtc.git
cd openwebrtc/scripts/bootstrap/
./boostrap.sh -r osx
...
(finishes successfully, no errors)
cd ../dependenci

[2014-10-09 01:13] mutulong opened #33 "build-all.sh always fails to build dependency"
cd scripts/dependencie
./build-all.sh -r osx

Then it always fails at:

/usr/local/Cellar/libgcrypt/1.6.2/include/gcrypt.h:32:10: fatal error: 'gpg-error.h' file not found
# include <gpg-error.h>

[code]

1 error generated.

my environment :
mac os x 10.9.5 
xcode 6.0.1

[2014-10-09 11:08] dorinsimina opened #35 "/bootstrap.sh -r osx output error"
Hi,

After I run the command './bootstrap.sh -r osx' I get the following error:
...
checking for gcc... /Applications/Xcode 2.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang -isysroot /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.9.sdk -mmacosx-version-min=10.7 -arch x86_64 -m64
checking whether the C compiler works... no
conf

[2014-10-09 13:36] alessandrod opened #37 "Changing the .js files in the daemon shouldn't require a rebuild of the daemon"
Ideally changing the .js files used by the bridge/daemon shouldn't require recompilation. Restarting the daemon should be enough to pick up the modifications.

[2014-10-09 14:54] stefanalund opened #38 "Implement PeerHandler.stop()"
The following is logged e.g. on page reloads: PeerHandler.stop() called (not implemented)

[2014-10-10 10:30] stefanalund opened #39 "STUN and TURN domain resolution"
libnice does not support domain name resolution, meaning that web apps need to provide IP addresses when configuring STUN/TURN in PeerConnections:

[code]

This is cannot be solved in OpenWebRTC, only in libnice itself.

[2014-10-11 09:19] superdump opened #41 "Avoid unnecessary ICE candidate gathering"
As in pull request #40 there are some more changes that would be good to do with regard to ICE candidate gathering. We want to avoid doing ICE candidate gathering for the RTCP component when it's not needed and can be avoided.
- In the offer-answer model, the side that offers does not yet know whether rtcp-mux is supported and so needs to set up as if rtcp-mux were false and later switch to rtcp-m

[2014-10-12 10:09] #41 closed, assigned to nobody

[2014-10-12 17:30] kofalt opened #44 "nasm.us mirror is down"
`./bootstrap.sh -r linux` Cannot complete due to http://nasm.us being offline. I found a mirror on [Frecode](http://freecode.com/projects/nasm), but they don't have the specified `2.11.02` release. There's also a source mirror [here](http://repo.or.cz/w/nasm.git).

It might be worth saving the dependencies required for build somewhere.

What I tried:

[code]

Then edited `./bootstrap/build-nasm.sh

[2014-10-14 09:39] sdroege opened #47 "Requesting too many new keyframes"
When running the owr daemon with some additional printfs in the code where keyframes are requested in gstrtpsession.c, one can see that in some situations 10 or so keyframes are requested per second... and then many keyframes arrive in a row.

We should probably throttle this a bit somewhere. If a keyframe got lost because of network saturation, it's not going to get better if we saturate the netw

[2014-10-14 11:39] iamyellow opened #48 "ios / build for armv7s and arm64"
hey! thanks for this great effort!
is there any chance to compile for architectures > armv7 for iOS?

[2014-10-14 12:31] #44 closed, assigned to nobody

[2014-10-15 14:27] #39 closed, assigned to nobody

[2014-10-15 14:28] stefanalund opened #51 "RTP retransmission"
Enable RTP retransmission.

[2014-10-15 17:55] razum2um opened #52 "Server side client"
There was already such question in mailing list https://groups.google.com/forum/#!topic/discuss-webrtc/QFUK2_xjBv0

Is there any tutorial/example how to get peerconnection on the server up and running in order to be able to capture media stream, record and save it?

[2014-10-17 07:25] stefanalund opened #53 "Selecting camera"
Make it possible to select which camera to use, e.g. front-or rear-facing camera on mobile devices.

[2014-10-17 18:10] lisptime opened #54 "./build-all.sh -r android error"
after bootstraping I tried to build the dependencies for the target android but got the following error message:

[code]

[2014-10-19 00:12] mutulong opened #55 "ERROR: Failed to install sources and configure source git"
I have latest git version 2.0.1 installed on Yosemite MacOS 10.10, now I keep getting this error:

tar: Unrecognized archive format
tar: Error exit delayed from previous errors.
ERROR: Failed to install sources and configure source git

Any idea what I am missing here?

[2014-10-19 10:32] #53 closed, assigned to nobody

[2014-10-22 10:00] #55 closed, assigned to nobody

[2014-10-22 10:00] #33 closed, assigned to nobody

[2014-10-23 11:55] josipbernat opened #58 "Unable to build bootstrap"
Hi,

When I try to build bootstrap from step 2, after a while (apron 5minutes) I receive following error:

Failed building...intltool
mv intltool intltool_build_failed_on_141023-12:31:33_using_script_with_md5sum_5c1eb31c4e6d8a50b972158adefdb1fbb058ab04

I use MacBookPro 13", Mid 2009 with OS X 10.10 Yosemite.

Do you have some suggestion what may be the problem?

[2014-10-23 17:33] chrisballinger opened #59 "Cocoapods / Podspec for iOS / OS X targets"
To ease integration for iOS / OS X targets, a semi-official podspec would be useful for other developers. If I create one, would this be something you would consider merging?

[2014-10-26 01:57] spmeone opened #61 "Build Error( ./build-all.sh -r linux android)"
I tried to build openwebrtc following "Building OpenWebRTC".
But next message appears　after "./build-all.sh -r linux android".

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
x-androideabi/gst-plugins-good/tests/examples/rtp' に入ります
  CC       server_alsasrc_PCMA-server-alsasrc-PCMA.o
  CCLD     server-alsasrc-PCMA
  CC       cl

[2014-10-27 09:41] stefhak opened #62 "Make offer generated by "createOffer" spec compliant"
Offers generated now miss ICE-ufrag and password as well as DTLS fingerprint, meaning they can't be sent to the other side (you have to do setLocal and fetch the local config and send that one).

According to the spec you should be able to send the offer generated by createOffer (it should be complete with ufrag, pw and fingerprint). We should fix this.

[2014-10-28 15:10] alexanderkjeldaas opened #63 "Needs basic overview documentation"
The documentation / readme doesn't say much
- What type of container is the javascript running in?
- What does the media bridge do?
- How is the code organized?  What is in the different directories?
- What features are different/missing compared to FF, Chromium, Chrome?
- Is the architecture diagram relevant for Android & iOS?
- What are the main features?

A few lines added to the front page wou

[2014-10-28 22:17] ticapix opened #64 "Build error with build-libnice.sh for linux"
Hi,

I'm compiling under Linux x86_64. The bootstrap worked well but I'm having an error when doing the ./build-all.sh -r linux for libnice. I just modified the build-libnice.sh to dump env variables just before the make and added a V=1 to the make command.
[code]

[code]

Full build log http://pastebin.com/rhhtjzTZ
Env variable dump: http://pastebin.com/2RBHUtbg

When I try to execute the failing

[2014-10-29 12:35] #58 closed, assigned to nobody

[2014-10-30 15:53] josipbernat opened #67 "./build-all.sh -r OS X - build failed"
Hi,

I get following error when I try to build library for OS X or OS X + iOS. Do you know what may be a problem?

/Applications/Xcode.app/Contents/Developer/usr/bin/make -C gaudieffects
  ORCC   tmp-orc.c
In function gaudi_orc_burn:
error: line 13: too many arguments for copyb (expected 2)
error: line 14: too many arguments for convubw (expected 2)
error: line 16: too many arguments for addw (exp

[2014-10-31 21:35] #52 closed, assigned to nobody

[2014-11-01 13:35] hopsor opened #70 "Problems building dependencies for ios-simulator (libffi error)"
Hi, I'm trying to build the dependencies for ios-simulator but I'm not having luck with it. It's weird since osx and ios dependencies building went fine. Here are the last lines of the log:

[code]

Right now I'm running last stable build of Yosemite with Xcode 6.1.

Is there anything I can do to solve this?

Thanks in advance and congrats for the great job you guys are doing with openwebrtc.

[2014-11-03 04:50] aullman opened #71 "Bowser does not interoperate with Chrome 38"
Steps to reproduce:
1. Open up Bowser on an iOS device (I'm using an iPhone 6)
2. Launch the demo application at http://demo.openwebrtc.io:38080/
3. Click the join button
4. Copy the URL to a Chrome 38 Window (I'm using Version 38.0.2125.111 on OSX 10.9.5)
5. In the Chrome window click the "Call" button.

Result: In the Chrome window I get this error printed out at the bottom of the page:

On the

[2014-11-03 06:11] #71 closed, assigned to nobody

[2014-11-04 10:24] stormbkk87 opened #72 "Build error build-gnutls.sh"
Build host: Mac OSX Yosemite

./build-all.sh -r android

[code]

[2014-11-04 10:45] longsleep opened #73 "Bowser Console log empty"
What exactly is the console log in Bowser? If it is supposed to show Javascript console.log calls it does not work for me.

Getting debugging Javascript in Bowser working would be helpful to make https://github.com/strukturag/spreed-webrtc work.

[2014-11-04 17:36] stormbkk87 opened #74 "Compile fails on Ubuntu 14.04 LTS. Thought this was confirmed supported OS?"
Host: Vagrant Ubuntu 14.04 LTS
Dependencies build
./build-all.sh -r ios ios-simulator android

[code]

[2014-11-04 17:41] #74 closed, assigned to nobody

[2014-11-05 05:30] #72 closed, assigned to nobody

[2014-11-05 12:18] stormbkk87 opened #75 "Ubuntu 14.04 LTS 64 build fails"
Build error on Ubuntu 14.04 LTS 64.
./build-all.sh -r linux android

[code]

[2014-11-05 12:30] #75 closed, assigned to nobody

[2014-11-05 12:39] #32 closed, assigned to nobody

[2014-11-05 12:39] #30 closed, assigned to nobody

[2014-11-05 12:39] #6 closed, assigned to nobody

[2014-11-05 13:47] #73 closed, assigned to nobody

[2014-11-05 22:55] warrenjmcdonald opened #76 "Corrupted tar file in icu dependency"
I am getting consistent error in building dependencies for osx just after cleaning and download in icu.

File shows as 100% and 354 received but tar throws "Unrecognised archive format"
This is truncated icu4c-53_1-src.tgz 354 bytes instead of 22MB

Stepping over re instructions for splitting dependencies builds.
Will alert source repo

[2014-11-06 07:05] stormbkk87 opened #77 "Build fails after repo sync -Ubuntu 14.04 linux android"
seed dependency build error still exists. I used the Git help documents to update my repo with the openwebrtc master (commands below). Am I driving myself crazy doing the update this way? Or did the issue fix not make it into the master scripts/dependency tree? Git reported 5 files changed from master and updated my repos. Also, says my repos is in sync with master. My eyeballs are annihilated so

[2014-11-06 11:53] #70 closed, assigned to nobody

[2014-11-06 13:27] #77 closed, assigned to nobody

[2014-11-06 15:58] oscfri opened #78 "Building with -m flag impossible"
Currently it's impossible to use the `-m` flag with `build.sh`. When `./build.sh -m <platform>` is invoked, `build.sh` tells that the `-d` flag or `-r` flag must be given.

[code]

But if the `-d` flag (or the `-r` flag) is given, `build.sh` tells that `-m` cannot be combined with any other option.

[code]

So currently it's impossible to invoke `build.sh` using the `-m` flag.

[2014-11-07 15:27] stephenlane opened #79 "Bowser not working properly on ipad 3, iOS 8"
I have bowser installed on my ipad. Whenever I try to use webrtc my own camera works but other people are unable to see me and I am unable to see them.

[2014-11-07 17:04] dbkr opened #80 "Fake video element is not fully created when when added to DOM"
owr.js clobbers the video element with an image div but then only adds the play method after the result of renderSources() comes back from the daemon. In the meantime the page has a half-formed fake video element (without the play() method etc). This can cause the application to fail if it tries to call one of these methods before the daemon returns with the result of renderSources().

[2014-11-07 17:10] #11 closed, assigned to nobody

[2014-11-08 10:28] #79 closed, assigned to nobody

[2014-11-09 15:25] stephenlane opened #81 "Websocket support"
Is it possible for bowser to support websocket instead of turn/stun ?

[2014-11-09 16:23] stefhak opened #82 "Add JS method for revokation of access to camera and microphone"
It would be nice to have such a method (outside of std) to enable this function in a Safari extension bar.
https://github.com/EricssonResearch/openwebrtc-browser-extensions/pull/4 introduces accept/reject buttons, but once accepted a "revoke" button could be added if there was a JS method to revoke access.

[2014-11-09 18:49] #81 closed, assigned to nobody

[2014-11-10 05:57] abigdreamer opened #83 "Lantern and Jdk8 Webkit Embedding"
https://www.getlantern.org

Can we discuss creating a version of Openwebrtc that supports Javafx Webkit Jdk8 and also consider embedding Lantern as a Swtich.

Wow!

[2014-11-10 06:09] superdump opened #84 "JS API / DOM interoperability problems"
@dbkr made some notes during his efforts to get his web application working with OpenWebRTC. I'm throwing them all in here so they don't get lost. Some notes should be moved to the appropriate wiki page and others should perhaps be fixed by us.
- WebRTC classes may not exist until after the page load has finished (because it has to download an execute owr.js) so beware if you check for webrtc supp

[2014-11-10 07:19] #84 closed, assigned to nobody

[2014-11-12 16:37] dbkr opened #85 "OpenWebRTC appears to fail all connections if given a TURN server"
If a working TURN server is supplied instead of just an stun server (or the empty array), OpenWebRTC fails to establish calls for me.

Test environment: Safari with OpenWebRTC extension calling Chrome (with Chrome native WebRTC). Both have a working TURN server configured in the iceservers parameter. Both browsers are on the same LAN and can communicate directly without the use of a STUN or TURN s

[2014-11-23 00:07] AmmoniteTim opened #86 "Bowser not working on iPad mini (3)"
I have installed latest version of Bowser App (2.2) on my iPad mini (IOS 8). When I open the app, it stays on screen for about 15 seconds, closes for about 10 seconds, then opens for about 30 seconds and shuts down.
I cannot enter anything into the address bar and not options are available.

[2014-11-23 09:34] #86 closed, assigned to nobody

[2014-11-24 18:55] #78 closed, assigned to nobody

[2014-12-06 12:10] #35 closed, assigned to nobody

[2014-12-08 03:41] xareelee opened #95 "How to start bootstrapping the build environment?"
In the [Building OpenWebRTC](https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC#2-bootstrapping-the-build-environment), it mentions 'Bootstrapping' . But I have no idea how to start with it.

Do I need to create a folder (`scripts/bootstrap`) in my user directory? or root directory?

When I run the command `./bootstrap.sh -r osx`, it shows **'no such file or directory: ./boots

[2014-12-08 06:04] #95 closed, assigned to nobody

[2014-12-09 19:34] stefanalund opened #96 "Framerate slows down"
Video frame rate on iOS slows down in bad lighting conditions.

[2014-12-12 19:59] vgottardi opened #97 "Build for linux fails with "No package 'libpulse' found""
Linux build requires libpulse (configure.ca line 90). Do we need a build-libpulse.sh in scripts/dependencies?

[2014-12-17 10:41] sdroege opened #106 "Library name and include directory not properly versioned"
See comment in https://github.com/EricssonResearch/openwebrtc/pull/105

We currently don't properly version the library filename (libopenwebrtc vs libopenwebrtc-0.1) and also not the include directory (include/owr vs include/owr-0.1/owr). I'll open a ticket for that.

[2014-12-17 22:20] misi opened #107 "hardcoded gstreamer video input source"
AFAIU gstreamer audio/video source is hardcoded in OpenWebRTC.
Please make it parametrizable not hardcoded, and allow to use other gstreamer modul as video src/sink.

The use case:
I want to use Black Magic Decklink captrue card for audio/video src&sink with openwebrtc stack on linux. Blackmagic Decklink card has a gstreamer modul, but no v4l2 dirver implementation.

And i find that v4l2 source is

[2014-12-22 21:37] #18 closed, assigned to nobody

[2014-12-23 17:06] #38 closed, assigned to nobody

[2015-01-01 07:19] Tonku commented on #2
I dont know anything about the build system and scripts... otherwise I could have put some time into this ...Btw I will put some effort on it in coming days..as I need windows support as well for a project I am working on...
Thanks for the input Guys
Kind Regards
Tonku

[2015-01-01 21:44] stefanalund commented on #47
Wasn't this fixed?

[2015-01-02 13:37] stefanalund opened #112 "Wrong default camera on iOS"
Default camera is now back camera, should be front-facing camera. One expects to yourself in the self-view at the start.

[2015-01-02 17:52] stefanalund commented on #96
@alessandrod found anything interesting?

[2015-01-05 09:49] superdump commented on #96
@stefanalund - I think everything was committed to GStreamer master before the holidays. I'm in the process of rebuilding everything from current master including bumping to GStreamer master as of this morning. I'll see how it looks after I've done that and report back.

[2015-01-05 14:46] superdump commented on #96
Looks good now. Slow downs in frame rate that I notice are due to poor lighting (particularly with front-facing) or autofocus. Otherwise (good lighting, no need to refocus) I observe a pretty solid frame rate.

[2015-01-06 05:16] jiyeyuran commented on #97
When this problem can be fixed? Compiling all dependencies is time-consuming, and ubuntu already have most of the dependencies.

[2015-01-09 12:06] agouaillard commented on #2
yes, you can convince me, I have not made my mind yet and i haven't started
coding. I won;t go ahead with something that is not consensual.
Actually i will be in stockholm on 26/27 of jan. shall we speak around a
coffee/beer?

On Fri, Jan 9, 2015 at 7:02 PM, Robert Swain <notifications@github.com>
wrote:

--
Alex. Gouaillard, PhD, PhD, MBA
----------------------------------------------------------

[2015-01-11 13:46] stefanalund commented on #2
Sounds like a good idea, I'll send you an email and we can keep this issue clean :-)

[2015-01-12 14:53] stefanalund commented on #85
@alessandrod or @sdroege do you know?

[2015-01-12 19:14] ocrete commented on #85
libnice definitely supports TURN UDP. It supports most of rfc 5466 TURN except for the TLS  part. But we don't actually support real TURN TCP (RFC 6062, creating TCP-like connections), but that part is not used by WebRTC.

I've been using libnice successfully with turnserver.org, the google TURN
server and rfc5466-turn-server, of which coturn is a derivative. So in
theory, coturn should "just work

[2015-01-12 20:18] stefanalund commented on #96
Lighting conditions still greatly influences fps. May be a problem in the GStreamer plugin.

[2015-01-12 20:23] superdump commented on #96
It's worth noting that the framerate issues are not present in other applications using the camera. Ways to reproduce:

Cover the camera. Start the iOS selfie app. Uncover the camera. Particularly on older devices (pre-iPad Air for example), the frames displayed are black and either don't recover at all or take a very long time (30s or more) to return to a normal white balance / exposure / frame r

[2015-01-12 22:29] dbkr commented on #85
Yeah, it's certainly trying to talk TURN UDP to the coturn. I've just verified again and got the same though: if I specify the UDP TURN URI, OpenWebRTC never connects (even though they don't need TURN. If I remove it, it connects fine (ie. not using a TURN server). It also works if I change the password to be invalid so the fact that it connects to the coturn somehow breaks its ability to connect

[2015-01-13 07:39] superdump commented on #85
I expect @pererikb or @ocrete would know better but perhaps something is going amiss there and the gathering done signal is never fired. In which case, perhaps using trickle ICE could still work. Can we confirm that @pererikb?

[2015-01-13 09:04] sdroege commented on #96
Maybe there's a mode on the camera where it tries less to compensate for bad lightning conditions and just outputs things faster

[2015-01-13 09:44] richardmitic commented on #96
There are properties of AVCaptureSource that let you set the maximum frame duration, although they might not be available in all the SDKs that the applemedia plugin supports. https://bugzilla.gnome.org/show_bug.cgi?id=711211

[2015-01-13 10:20] sdroege commented on #96
This API is already used when available, but there might be a bug around that code.

[2015-01-13 12:37] alessandrod commented on #96
We're negotiating the framerate correctly, but then we're also setting stuff like auto frame drop and auto focus could be causing this. I'll take a closer look once i'm done with texture sharing between AVF <=> glimagesink.

[2015-01-14 11:52] river9100 commented on #97
I'm also met this problem. how can I do?

checking whether to build static owr or not... yes
checking for PULSE... no
configure: error: Package requirements (libpulse libpulse-mainloop-glib) were not met:

No package 'libpulse' found
No package 'libpulse-mainloop-glib' found

Consider adjusting the PKG_CONFIG_PATH environment variable if you
installed software in a non-standard prefix.

Alternativ

[2015-01-14 11:56] river9100 commented on #97
My environment: Ubuntu 14.04 x64 TLS.
bootstrap and dependencies all built well.

[2015-01-14 12:12] superdump commented on #97
I'll put up some patches that fix this soon. Sorry for the delay.

[2015-01-15 12:53] stefanalund commented on #54
Seems to work.

[2015-01-15 12:53] #54 closed

[2015-01-15 19:29] stefanalund commented on #85
@pererikb did this latest commit help with this specific issue?

https://github.com/EricssonResearch/openwebrtc/commit/605fbcdc734444a936dde73ddc19b300f59c7503

[2015-01-16 08:04] pererikb commented on #85
No. I am still investigating this issue.

[2015-01-17 11:20] doyleindustries opened #120 "Obsolete URL for libvpx build > Bootstrapping *and* Building Dependencies on OS X Fail"
Mac OS: 10.10.1 Build 14B25 (Yosemite)
Xcode (w/Tools): 6.1.1 (6A2008a)
Git: 2.2.2

Build error:

Cloning into 'libvpx'...
fatal: unable to access 'http://git.chromium.org/webm/libvpx.git/': Illegal or missing hexadecimal sequence in chunked-encoding
./build-libvpx.sh: line 16: pushd: libvpx: No such file or directory
fatal: ambiguous argument 'v1.3.0': unknown revision or path not in the working

[2015-01-17 14:54] stefanalund commented on #120
Would you mind submitting a Pull Request? Otherwise we will fix it on Monday. Thanks

[2015-01-17 18:06] doyleindustries commented on #120
We've neither had the time to study the code in any appreciable depth nor locally modify, much less commit, our own local fork.

We can assure, however, that the current libvpx URL clones successfully and the old one is indeed obsolete.

[2015-01-17 20:31] stefanalund commented on #120
Ok, thanks!

[2015-01-18 09:31] pererikb commented on #85
The problem is that the socket replacement here http://cgit.freedesktop.org/libnice/libnice/tree/agent/agent.c#n3287 is not restricted to ICE-TCP and UDP-TURN-OVER-TCP sockets.

[2015-01-18 10:11] superdump commented on #120
`build-libvpx.sh` contains the command `git clone http://git.chromium.org/webm/libvpx.git`. I tested that and:

[code]

Works for me with current scripts. Maybe it was a temporary issue? Closing.

[2015-01-18 10:11] #120 closed

[2015-01-18 11:10] superdump commented on #97
So this is kind of hacky, but it works for me on Ubuntu at least. I haven't had time to find a better way. Does it work for you? https://github.com/superdump/openwebrtc/commit/c7ec41870f0e031279ec1345c8ade697c05b8321

[2015-01-18 11:12] #112 closed

[2015-01-18 13:51] doyleindustries commented on #120
It’s not temporary. I don’t know why it’s working with your current scripts but coming fresh to this project, I had to insert the new URL into the libvpx build script — once I did, all went well.

Once again, the new URL:

https://git.chromium.org/git/webm/libvpx.git <https://git.chromium.org/git/webm/libvpx.git>

Regards

[2015-01-18 15:46] Rugvip opened #126 "Android thread scheduling issue"
There is an issue with glib and thread scheduling on Android that causes the main owr thread to not get awoken instantly when e.g. a idle GSource is attached. This can cause a delay of up to several minutes when setting up a call.

The first step in debugging this is to move to a newer glib version, meanwhile, here's a temporary fix for the issue:
https://github.com/Rugvip/openwebrtc/commit/038146

[2015-01-18 16:00] sdroege commented on #126
You can easily test a new glib version with cerbero. 2.42 iirc

[2015-01-19 15:18] ticapix commented on #64
I did a fresh clone, bootstrap, build-all.sh: same error on libnice.
The stacktrace is:
[code]

[2015-01-19 15:55] superdump commented on #64
I don't understand what the backtrace has to do with libnice. The backtrace is something that I think happens because of using a mix of shared and static libraries and confusion because of that.

[2015-01-19 16:53] ticapix commented on #64
This is the backtrace of the `Nice-1.0` temporary executable created during the failing `g-ir-scanner` command
[code]

(the exec are not deleted after g-ir-scanner if `export GI_SCANNER_DEBUG="save-temps"`is set.

[2015-01-19 20:22] vgottardi commented on #97
Thanks for the fix. It works through the libpulse problem but I now hit another link problem.
[code]
It's not obvious where to get the missing libraries. Any suggestion?

[2015-01-19 22:10] superdump commented on #97
`sudo apt-get install libegl1-Mesa-dev` I think. I will push up a patch that adds this and ruby to bootstrap.sh soon.

[2015-01-19 22:10] superdump commented on #97
Lower case m there

[2015-01-19 23:17] vgottardi commented on #97
I installed libegl1-mesa-dev but it didn't resolve the problem. I was thinking I have to rebuild the gst-plugins-bad in dependencies. I did that, but "gl" stayed in the "Plug-ins with dependencies that will NOT be built" category. Am I on the right path? Here's what I get when I run build-gst-plugins-bad.sh:
[code]

[2015-01-20 05:59] superdump commented on #97
Ah, I forgot that we have to revert a pkg-config related patch in -bad for X detection that breaks things for us. If you can wait a little I can find time to push up some fixes.

[2015-01-20 15:31] superdump commented on #97
@vgottardi - try this: https://github.com/EricssonResearch/openwebrtc-build-scripts/pull/30

[2015-01-20 17:48] kakaroto commented on #85
Hopefully this fixes it : http://cgit.freedesktop.org/libnice/libnice/commit/agent/agent.c?id=e4b8707d4ada89d09d9513775f165bd6c1481e1e

Let me know if it makes things better for you.
Thanks.

[2015-01-21 13:34] vgottardi commented on #97
OK, that solved the missing libraries problem but I'm now getting some undefined symbols.
[code]

[2015-01-21 22:32] jgrowl commented on #11
I got a similar error today on a fresh checkout.

[code]

[2015-01-22 02:56] feross commented on #3
Any update on this?

[2015-01-22 05:41] stefanalund commented on #3
Soon. We think it will be available during January actually. More about our roadmap here:

http://www.openwebrtc.io/blog/2015/1/15/roadmap-for-2015

[2015-01-22 22:46] jgrowl opened #133 "graphviz build failing in osx 10.9.4 on bootstrap"
[code]

[2015-01-22 22:49] jgrowl commented on #133
python2.7 is installed, here are my ldflags:

openwebrtc/scripts/bootstrap[331db50]% python2.7-config --ldflags
-L/usr/local/Cellar/python/2.7.8/Frameworks/Python.framework/Versions/2.7/lib/python2.7/config -ldl -framework CoreFoundation -lpython2.7

[2015-01-23 05:49] superdump commented on #133
I think we only support system Python at the moment.

Off-topic we should publish something to help people get going with Python and the bindings there.

[2015-01-23 11:48] superdump commented on #97
Install `libegl1-mesa-dev` and try again.

[2015-01-23 12:47] uberguru commented on #97
bumped into the same problem, with libpulse applied your proposed fix and the meda-dev stuff mentioned.

I built all the depedencies and the output seemed fine from each of the steps so im not sure what the final build script is looking for.... something i apparently dont have.

Makefile.am:3: error: required directory ./client does not exist
Makefile.am:3: error: required directory ./seed does no

[2015-01-23 22:52] vgottardi commented on #97
I already had libegl1-mesa-dev installed as you suggested a few days ago. I think some component needs to link with the egl library, just don't know where. It could also be a library order problem.

[2015-01-24 02:42] agouaillard opened #134 "build failing for osx / iOS / iOS-simulator"
following the wiki,
bootstrap ok,
dependencies ok,
then (it looks like the "gst_debug_bin_to_dot_data" function declaration was not found):

/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-recursive
Making all in transport
  CC       owr_candidate.lo
  CC       owr_payload.lo
  CC       owr_audio_payload.lo
  CC       owr_video_payload.lo
  CC       owr_session.lo
  CC       owr_media

[2015-01-24 13:39] stefanalund commented on #134
Are you including the simulator? If so, could you please try removing it from the list. There has been problems with it in the past.

[2015-01-24 19:07] rishabhp commented on #97
Ubuntu 14.04 64bit - Tried everything mentioned but couldn't get past the `gl` errors. So I finally gave up after 10hrs of trying to build OpenWebRTC (on Mac first and then Ubuntu). Will probably come back later. If anyone is able to build the jar/so files for android then just let me know so that I can take them and at least test the NativeCall sample app (which is what I wanted to do in the firs

[2015-01-25 06:53] superdump commented on #97
@vgottardi @rishabhp And then this patch to openwebrtc itself and I am fairly confident the GL issue will be fixed : https://github.com/superdump/openwebrtc/commit/c7ec41870f0e031279ec1345c8ade697c05b8321

[2015-01-25 07:03] rishabhp commented on #97
So I'll tell you what all I did (Ubuntu 14.04 64bit).

- Installed `sudo apt-get install libegl1-mesa-dev`.
- Applied the patch here - https://github.com/EricssonResearch/openwebrtc-build-scripts/pull/30 and executed `bootstrap/bootstrap.sh` till the point where it installs dependencies (`sudo apt-get install` thing) and also `./build-gst-plugins-bad.sh -r linux` and `./build-gst-plugins-bad.sh -r

[2015-01-25 09:13] superdump commented on #11
I just tried the same thing here and it worked just fine.

[code]

[2015-01-25 09:34] superdump commented on #97
I would recommend using -Cbr instead of just -r.

However, in scripts/dependencies, after you have built gst-plugins-bad, you need to run the following:
[code]

Then you should be able to change directory up to openwebrtc and `./build.sh -Cbr linux android`

[2015-01-25 10:02] rishabhp commented on #97
@superdump Aah, so I missed `./deploy_deps.sh`. I did what you said (although note `./create_file_release.sh...` is not mentioned in the [wiki](https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC)).

Although this time it failed again with the following dump:

[code]

Similar to what @vgottardi faced.

[2015-01-25 12:02] VenkataPraneethT commented on #97
Hi, I too faced the same issue. I followed all the suggestions, but still couldn't get it working. Below is the error that I get, similar to the one that everyone is facing:

./.libs/libopenwebrtc.so: undefined reference to `eglGetError'
./.libs/libopenwebrtc.so: undefined reference to `eglTerminate'
collect2: error: ld returned 1 exit status
linking of temporary binary failed: Command '['/bin/bas

[2015-01-25 15:26] agouaillard commented on #134
same same:

alexandres-MacBook-Air:openwebrtc agouaillard$ ./build.sh -r osx ios
[...]

Now type 'make' to compile this module.

patching file libtool
/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-recursive
Making all in transport
  CC       owr_transport_agent.lo
/Users/agouaillard/DEVEL/GITROOT/openwebrtc/transport/owr_transport_agent.c:2128:12: error:
      implicit declaration o

[2015-01-25 15:32] agouaillard commented on #134
ok, since I'm stuck at the airport, I investigated further.

the gst_debug_bin_to_dot_data function has only been added to streamer on december 12, 2014:
http://static-173-79-223-25.washdc.fios.verizon.net/?l=gstreamer-cvs&m=141838844118058&w=4

the Gstreamer version used in openWebRTC.io is 1.0 and much older than this:
/openwebrtc/openwebrtc-deps-x86_64-osx/include/gstreamer-1.0/gst/gstdebugutil

[2015-01-25 16:25] Rugvip commented on #134
The folder is called gstreamer-1.0, but it's really GStreamer 1.4. It's because there was a pretty big jump between GStreamer 0.10 and 1.0, so all binaries etc where suffixed with 1.0.

OpenWebRTC currently uses the latest commit on GStreamer master https://github.com/EricssonResearch/openwebrtc-build-scripts/blob/master/dependencies/build-gstreamer.sh -> http://cgit.freedesktop.org/gstreamer/gstr

[2015-01-25 16:43] superdump commented on #134
Indeed. We work with the GStreamer community to develop things where they should be developed if we can.

Getting the dot data instead of an API that dumped directly to a file was useful for more cleanly supporting generating media processing graphs on the fly in an application.

[2015-01-25 16:44] superdump commented on #134
And we use recent GStreamer master to make the most of all the exciting development that happens there that enables things like the hardware acceleration on iOS, for example.

[2015-01-25 21:12] ikonst opened #136 "Pre-commit and pre-push git hooks fail on OS X"
git_hooks/chain_hook is used for pre-commit and pre-push hooks.
Unfortunately it uses realpath that's unavailable on OS X.

This StackOverflow question offers some alternatives:
http://stackoverflow.com/questions/3572030/bash-script-absolute-path-with-osx

[2015-01-26 00:02] ikonst opened #137 "Dependencies with 'debug' – is there a policy?"
I've noticed glib builds with `--enable-debug=no` regardless of `-r` or `-d` flag.
Is there a reason for this?
Are we trying to minimize debuggable packages to the higher-level ones, or is it just an omission?

[2015-01-26 07:27] PerBoussard commented on #11
What version git?

I've seen a similar problem that was fixed by upgrading the git program, although I can't remember what versions are good for this. I think there are some strange corner cases where this hits -- maybe 1.8.6 something was bad and the bug could be triggered there.

[2015-01-26 13:46] sdroege commented on #120
It also works for me, even outside the scripts, e.g.: git clone http://git.chromium.org/webm/libvpx.git
Not sure what the problem here is for you.

[2015-01-26 13:49] sdroege commented on #126
@Rugvip did you test that already? If it's still broken with 2.42 this is really a big problem and will bite us sooner or later in other situations too (it would mean that probably GPoll is broken, which is also used in other places).

[2015-01-26 13:53] sdroege commented on #64
It should also be possible to just disable the GI support in libnice, it's not used anywhere in OpenWebRTC.

[2015-01-26 13:58] Rugvip commented on #126
I haven't been able to build for Android using cerbero, there's some issue with the icu build. The build fails when trying to build icu for OS X, which is needed for a cross build. I haven't had time to look any further into that issue yet.

[2015-01-26 13:58] sdroege commented on #85
@pererikb does this help? We're also including this change in the cerbero build then

[2015-01-26 14:17] sdroege commented on #126
Can you send me details about that build failure?

[2015-01-26 14:55] ocrete commented on #85
If this fixes it, I'll make a new upstream release, we've accumulated a few bug fixes.

[2015-01-26 15:54] pererikb commented on #85
Yes, this fixes the issue

[2015-01-26 19:07] Rugvip commented on #126
I just tried building glib 2.42 and glib-networking with the current build scripts, and it doesn't seem to have fixed the issue. I'm doing a full rebuild of dependencies atm, just in case.

And here's the failed cerbero build:
[code]
...
[code]

[config.log](http://pastebin.com/k4yanPDD)

[2015-01-26 20:25] vgottardi commented on #97
I added "-lEGL" to PLATFORM_GSTREAMER_LIBS in the linux section in build.sh. That solved the eglXxxx undefined symbols.

I got one more undefined symbol later on. Adding "-lm" took care of that. With these changes, the build completes.

[2015-01-26 20:54] VenkataPraneethT commented on #97
Thank you @vgottardi . I too followed your suggestions of adding "-lEGL" and "-lm" to PLATFORM_GSTREAMER_LIBS . That solved the problem and the build is now successful.

[2015-01-26 21:08] rishabhp commented on #97
@vgottardi @VenkataPraneethT Would you guys want to make the built files available publicly so that I can download and quickly test the NativeCall sample app? Unfortunately I had ended up deleting my openwebrtc folder where I had executed the build process. Re-doing that means again a lot of time consumed.

[2015-01-26 21:47] dbkr commented on #85
Just re-tested (sorry for the delay): I can confirm this does appear to fix the problem.

[2015-01-26 22:25] stefanalund commented on #85
:+1:

[2015-01-26 22:27] kakaroto commented on #85
Great. Thanks for the confirmation.

[2015-01-27 02:43] jgrowl commented on #11
@PerBoussard  I realized I was running a really old version of git:
[code]

However after updating, I still ran into the same issue:

[code]

I had my girlfriend clone the project and run the bootstrap script on her mac and it worked fine for her so the only thing I can figure is there is something goofy with my setup

[2015-01-27 03:01] jgrowl commented on #11
@PerBoussard Hah! I think I see what is going on here... It is caused by osx's case-insensitivity. You can reproduce the error by doing the following:
[code]

Notice I am cd'ing into the lowercase version of the directory.  I ran into this problem because I store all my code in ~/Code, but often cd to ~/code not even thinking about it.

[2015-01-27 08:58] sdroege commented on #126
Ok, we're going to fix the icu build. If the problem still exists with 2.42 you won the price for finding the worst GLib bug on Android so far.

I assume you didn't succeed in creating a simpler testcase for it?

[2015-01-27 09:00] sdroege commented on #97
Instead of that it would also work to use --disable-egl on Linux for gst-plugins-bad. It's not needed or used by Owr.

[2015-01-27 12:05] philn opened #139 "Critical GLib warning in test sources support"
[code]

[2015-01-27 13:20] ikonst commented on #137
In fact, very few of the build-*.sh scripts respect the do_release variable at all.

[2015-01-27 13:21] ikonst commented on #137
No, wait, it's just build-openwebrtc-gst-plugins.sh. That's the only dependency where debug/release makes any difference.

[2015-01-27 16:27] agouaillard commented on #134
fair enough, I thought I had started from a clean clone, but in this case I hadn't.
I did update the submodules, I'm retrying now. Is there a way to avoid this in the future, so that other user don;t shoot themselves in the foot (like having one of the build script check that the scripts submodule hash is the one expected and stop if it is not)?

alexandres-MacBook-Air:openwebrtc agouaillard$ git

[2015-01-27 19:47] nirbheek commented on #126
I can reproduce the ICU problem, and I'm working on fixing it in the recipe.

[2015-01-27 20:05] agouaillard commented on #134
it seems to fail. To be thorough, I will tests from a fresh clone next.

Making all in rtsp
  GEN      gstrtsp-enumtypes.h
  GEN      gstrtsp-enumtypes.c
/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-am
  CC       libgstrtsp_1.0_la-gstrtsptransport.lo
  CC       libgstrtsp_1.0_la-gstrtspurl.lo
  CC       libgstrtsp_1.0_la-gstrtspmessage.lo
  CC       libgstrtsp_1.0_la-gstrtspconnect

[2015-01-28 12:47] stefanalund commented on #85
@kakaroto @ocrete let us know when there is a new release, thanks!

[2015-01-28 14:59] nirbheek commented on #85
As an aside, since yesterday Cerbero includes a patch for using the latest code from git, so this isn't blocking us too much: https://github.com/nirbheek/cerbero/commit/478270572cdaa4c6dbdb9c7346c91db4266bf09a

[2015-01-28 22:59] jrosssavant commented on #126
This fix resolved the icu build issue for me, now I'm down to a failure on the compile step of the openwebrtc recipe:

[code]

Look familiar?

[2015-01-29 01:57] ikonst opened #141 "Adding audio payload with unsupported clock-rate breaks pipeline"
Adding an audio payload with unsupported clock-rate breaks the pipeline. For instance, GstOpusEnc supports rates { 48000, 24000, 16000, 12000, 8000 }.

[code]

This will create a broken pipeline, whose source-bin cannot link with the transport-agent. This becomes known late, and with a nondescript error message.

While I think implementing our own parameter checking for payloads, in addition to th

[2015-01-29 02:03] ikonst commented on #141
Here are Graphviz files of:
* a working pipeline (good-opus48000.dot) with clock-rate=48000
* a broken pipeline (bad-opus44100.dot) with clock-rate=44100

https://drive.google.com/folderview?id=0B359dq-Bj8zdfkdma2tEVEVIcFZVLUxldDNKQWp1bWZ2S0NLNHgyWDdoeGcwS1drQTVOZEU&usp=sharing

[2015-01-29 02:07] ikonst opened #142 "Update libopus to a recent version (1.1 or higher)"
Newer versions of Opus promise much improved performance:

* *speed improvements on all architectures, especially ARM, where decoding uses around 40% less CPU and encoding uses around 30% less CPU*

[2015-01-29 02:16] ikonst opened #143 "Make owr_init API usable"
Using `owr_init` instead of `owr_init_with_main_context` is impractical, since (some? all?) API functions must be invoked on the thread holding the main context, but `owr_init` does not expose its main context.

For example, `owr_media_session_new` expects to acquire the owr main context during its operation, so it can only be invoked on the owr main context thread.

The way I see it, either:
* Ge

[2015-01-29 02:22] ikonst opened #144 "Improve performance hit caused by conversion and resampling on iOS"
On iOS, the audiosrc's src pad offers fixed capabilities of:

[code]

Next thing, GstAudioConvert translates F32LE to S16LE, then GstAudioResample downsamples 44,100 to 8,000 (since I'm using the PCMA codec). According to the Xcode profiler, all this conversion and downsampling takes up considerable CPU time for an otherwise trivial process – loopback of 8KHz PCM.

[2015-01-29 02:28] ikonst commented on #144
My initial analysis:

On iOS, the audiosrc's src pad offers fixed capabilities of:

[code]

From a cursory look at osxaudio (gst-plugins-good/sys/osxaudio/gstosxaudiosrc.c, function gst_osx_audio_src_probe_caps), it returns fixed caps based on the input stream's current format (i.e. querying kAudioUnitProperty_StreamFormat). This is unlike, for example, the ALSA source element which provides a wid

[2015-01-29 02:50] ocrete commented on #85
Released libnice 0.1.9 which should include all of the patches

[2015-01-29 03:07] jgrowl commented on #133
I tried uninstalling brew python, but got the same error with system python. I ended up just upgrading to osx 10.10.2 and latest xcode + console tools and everything seems to have built fine.

[2015-01-29 05:54] superdump commented on #126
@rugvip - looks like those bindings are out of sync perhaps?

[2015-01-29 05:56] superdump commented on #141
We need to implement some sensible error propagation interface so that useful information can easily be had in case of such errors. In this case we can at least document the values expected to work.

[2015-01-29 05:58] superdump commented on #142
Excellent! Can you patch this in openwebrtc-build-scripts and test it?

[2015-01-29 06:00] superdump commented on #85
And 0.1.10 as well I see. :) we will update. Thanks @ocrete

[2015-01-29 08:27] nirbheek commented on #85
Cerbero has been updated to 0.1.10: https://github.com/nirbheek/cerbero/commit/bcf4d9e74cb0b76eccaaf7f0311838188a17c864

[2015-01-29 08:45] Rugvip commented on #126
@jrosssavant Yep, I'm running into the same issue.

Turns out that you still need a updated build for your host platform when building for android, since cerbero also copies Owr-0.1.gir from the host build.

Try building for osx/linux first and then for Android.

[2015-01-29 08:56] Rugvip commented on #126
I rebuilt it for OS X, and that itself didn't fix the issue, but when the install failed I chose "[1] rebuild the recipe from scratch", and that did fix it.

[2015-01-29 09:05] sdroege commented on #142
I think for those optimizations you also have to make sure they're enabled during the build.

Also updating that in cerbero now, how could we miss that :)

[2015-01-29 09:08] sdroege commented on #141
Yeah, currently there is no sensible error reporting at all and internally most errors are just ignored or lead to an assertion. That needs someone to sit down and go over all the code base for possible errors and then come up with an API.

[2015-01-29 09:11] Rugvip commented on #126
The jars end up in  ~/cerbero/dist/android_armv7/lib/jni/, and are not included in any .pkg.

I'm getting a loadLibrary error when loading the .jar thought, which I'm fixing atm.

[2015-01-29 09:21] sdroege commented on #144
In latest git master of gst-plugins-bad, it can output many more formats than F32LE. It will IIRC output whatever the audio session is configured to.

So for 1), yes that's correct. For 2), what are the numbers? How expensive is it?

[2015-01-29 09:29] stefanalund commented on #144
@sdroege CPU usage outlined in this thread: https://groups.google.com/forum/#!topic/openwebrtc/bZJfu5CQ33U

[2015-01-29 09:38] sdroege commented on #143
Or third, add something to get the Owr main context so applications know what to use.

I would get rid of owr_init() though, or at least make it just call owr_init_with_main_context() with the default main context. Every other behaviour is just unexpected.

[2015-01-29 09:42] stefanalund commented on #133
Closing then.

[2015-01-29 09:42] #133 closed

[2015-01-29 10:01] Rugvip commented on #126
From discussion on irc: the .jars are a bit broken atm, standby :)

[2015-01-29 11:19] ikonst commented on #144
btw, owr_local_media_source_request_source doesn't use the caps for OWR_MEDIA_TYPE_AUDIO at all. Is it supposed to be like this, i.e. are the caps somehow propagated back to the source as "preferred" caps? (I'm a gstreamer newbie, so I really don't know.)

[2015-01-29 11:48] ikonst commented on #141
In the case of Opus, actually, it appears that GstRtpOPUSPay is even more restrictive, supporting only clock-rate of 48000.

In the bad pipeline, I can see the following errors:
* send-rtp-capsfilter requires clock-rate=44100 and therefore pay_rtpopuspay cannot connect to it
* encoder_opusenc supports rates { 48000, 24000, 16000, 12000, 8000 } and therefore cannot connect to the source-output-queu

[2015-01-29 16:40] ikonst commented on #144
It appears that osxaudio retrieves zero sampling rate from AU (at least on Remote IO), and so sampling rate ends up being GST_AUDIO_DEF_RATE (= 44100).

Following IRC discussion:
* @ford-prefect will implement real probing ("preferred_caps") for Remote IO, based on kAudioSessionProperty_CurrentHardwareSampleRate etc.

* It should be documented that OS X and iOS developers should set up AVAudioSess

[2015-01-30 00:31] jrosssavant commented on #126
Thanks for the info.  After rebuilding for OS X I was able to get the Android build to complete without any errors per your suggestion.  I'll hold off testing with this for now until you confirm the jars are in working order.

[2015-01-30 19:47] jrosssavant opened #147 "Native support to generate/parse SDP records."
The JSEP draft spec establishes SDP as the session description format.  As far as I can tell, the existing OpenWebRTC SDP record generation & parsing is done in Javascript and is not readily available to native clients.  I suggest utilities be added to generate an SDP record from a local session, and parse an sdp record into a remote session.

Thanks,
Joe

[2015-01-30 22:59] ikonst opened #148 "Problems linking with Xcode to static libraries produced by cerbero"
cerbero outputs both static and dynamic libraries into e.g. cerbero/dist/ios_universal/lib:
...
libglib-2.0.a
libglib-2.0.la
libglib-2.0.0.dylib
libglib-2.0.dylib -> libglib-2.0.0.dylib
...

I'm not using OpenWebRTC.framework since using it's currently cumbersome, especially when actively working on the code. Instead, I'm adding $(HOME)/cerbero/dist/ios_universal/lib to the Library Search Paths, a

[2015-01-31 02:21] ikonst commented on #144
@ford-prefect I took care of this -- can you review https://bugzilla.gnome.org/show_bug.cgi?id=743758 ?

This reduces iPhone 5s CPU usage to 14% (PCMA) and 35% (Opus 1.0), which is pretty good :)

[2015-01-31 02:26] ikonst commented on #147
Are we sure we want to perform string processing in native code? I thought it rather elegant that it was delegated to JS.

[2015-01-31 04:56] ford-prefect commented on #144
Sweet! I'll try to get a review of that done today. A quick look suggests
we're still working with F32LE? I guess the next step would be to probe
that too.

On 31 January 2015 at 07:52, Ilya Konstantantinov <notifications@github.com>
wrote:

[2015-01-31 06:11] stefanalund commented on #144
Fantastic!

[2015-01-31 06:22] jrosssavant commented on #147
Well, the native client needs to be able to talk to a web client on the other end.  They need to exchange the session description in a consistent format.  So the native code needs to be able to generate/parse the SDP record.  I think it is fine if that is done via a native-invoked eval of the JS code, but it would be great if it were simple to call from the native code.  Maybe this is easy to do b

[2015-01-31 07:58] stefanalund commented on #147
Similar discussion here https://github.com/EricssonResearch/openwebrtc/pull/129

[2015-01-31 13:11] stefanalund opened #150 "Add video rotation API"
Ideally video rotation should be handled without expensive computations.

[2015-01-31 14:08] superdump commented on #150
I think the camera sources need to do something sensible by default, have an option for signaling orientation separately but also have an option to manually set the orientation.

A sensible default behavior that was suggested was to set 'up' as the device orientation at the point where video capture starts.

[2015-01-31 14:09] superdump commented on #150
I'm not sure if tracking the 'up' direction and always rotating the video accordingly is a good option or not. We probably need to test to see what is most intuitive.

[2015-01-31 17:05] jrosssavant commented on #147
There is a similar large volume of Java code included in the Android NativeCall app to assemble the JSON:

https://github.com/Rugvip/openwebrtc-examples/commit/dce2e8e38aff53a856ee3886dc1625840a00d444

[2015-02-01 13:22] superdump commented on #142
The autoconf test in the opus configure.ac uses $host_cpu. It should work to set --host=arm-apple-darwin10 for iOS but I didn't manage to get it working. The configure script output shows that the test failed but I haven't yet identified why.

[2015-02-01 15:03] ikonst opened #151 "cerbero should not produce dylibs on iOS configurations"
Dynamic libraries are discouraged on iOS. As for iOS 8 they're allowed, but still it's assumed most developers would want static libraries.

Given the complexities brought by .dylib and .a coexistence (see https://github.com/EricssonResearch/openwebrtc/issues/148), can we just drop dylib building from cerbero iOS configs? This will also save significant build time.

[2015-02-01 15:06] ikonst opened #152 "cerbero shell not useful in 'universal' (fat) configurations"
[code]
creates a shell whose CFLAGS, CXXFLAGS and OBJCFLAGS don't contain cross-architecture, e.g. no `-arch arm64`.

This shell is not useful for building sources manually.

[2015-02-01 15:07] ikonst commented on #150
Does gstreamer have an element for this?

[2015-02-01 15:10] stefanalund commented on #150
Yes, I believe this could be used http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-videoflip.html

[2015-02-01 15:24] ikonst commented on #150
Isn't it better to rotate when displaying, i.e. GL transform?
Shuffling bytes around sound like a waste.

[2015-02-01 16:05] stefanalund commented on #150
For sure. But can we assume OpenGL rendering at all times?

[2015-02-01 16:13] ikonst commented on #150
I would think that, in any case, rotation during drawing is better. I can understand using videoflip for simplicity, but how can that ever be better than passing the desired rotation/flip as metadata along with the frame buffer?

[2015-02-01 16:29] superdump commented on #150
I think the plan for this should be to see if the camera API gives some way to request a specific video orientation from the camera. As long as that is effective and I feel like it's a possibility on mobile devices.

It is very easy for us to rotate and flip when rendering and it's also easy but ineffective to do it before encoding. We want to avoid anything ineffective if possible.

One more poss

[2015-02-01 16:37] ikonst commented on #150
See the part about physically rotating buffers here: https://developer.apple.com/library/ios/qa/qa1744/_index.html

I guess Apple are pretty experienced with this, and though they promise hardware-accelerated rotation (which our videoflip certainly isn't), they discourage you.

Does WebRTC say something about how to signal orientation without rotating buffers?

[2015-02-01 16:40] superdump commented on #150
No, you have to do custom signalling, which @pererikb has demonstrated.

[2015-02-01 18:10] ikonst opened #153 "osxaudio should support Voice-Processing IO"
This is a GStreamer issue documented here:
https://bugzilla.gnome.org/show_bug.cgi?id=732896

I'm adding it here since I found out WebRTC switched from Remote IO to Voice-Processing IO two years ago, and I suspect we should too:
https://webrtc-codereview.appspot.com/1061007

Currently osxaudio is a mess of HAL and Remote IO implementations. IMHO it should be refactored to have selectable implement

[2015-02-01 18:37] superdump commented on #153
Yup, I was aware of that gst issue but thanks for noting it here. This forms part of the echo cancellation feature in the roadmap. :smile:

[2015-02-01 19:02] sdroege commented on #151
They don't cause any issues and are also not included in the packages, they're just an artifact created during the build. The effect on build time should also be relatively small, but measuring that would be interesting.

If it's a big enough difference, someone can look into that and as long as it's not a too huge amount of changes that should be acceptable.

[2015-02-01 19:04] sdroege commented on #148
The .dylibs are not included in the packages created by cerbero. You're not supposed to use the build tree for development, but the real framework that is created by the packaging process. This also contains a static wrapper library ("GStreamer") that contains all the static libraries and GStreamer plugins.

[2015-02-01 19:04] #148 closed

[2015-02-01 19:05] sdroege commented on #152
The shell is also useless for iOS in general :) See my comments in the other tickets.

What do you want to achieve with the shell?

[2015-02-01 19:10] ikonst commented on #151
a) They cause tool trouble -- see #148
b) I see separate recipes and separate directories, i.e.
sources/ios_arm64/gst-plugins-good-1.0-1.5
sources/ios_arm64/gst-plugins-good-1.0-static-1.5

Isn't each of those getting built independently?

[2015-02-01 19:13] sdroege commented on #147
Note that GStreamer has a SDP parsing/generation library already, libgstsdp from gst-plugins-base.

[2015-02-01 19:15] ikonst commented on #152
I'm working on gst modules. Building can be done by just invoking 'make' but if I need to re-autoconf (after editing confgiure.ac), I'm in trouble since CFLAGS etc. aren't defined as they should be. That's what I thought the shell is good for.

OTOH, the shell isn't arch-specific nor recipe-specific, so I guess it's the wrong tool for the job.

[2015-02-01 19:16] sdroege commented on #151
See my comment in #148, you're not supposed to use the libraries from the build tree on iOS but the result of the packaging process afterwards. That's only including a single static library then, plus headers.

For 2), yes it would in theory be possible to do it all at once but that requires bigger changes in cerbero. We currently use the static libraries from e.g. gstreamer-1.0 and only use the s

[2015-02-01 19:18] sdroege commented on #152
Yes, for all other platforms the shell can be used for that. For iOS that's not possible as you need to re-run the packaging process after each change, recreate the fat libraries, etc. Only the results of the packaging process are usable for actual development as only that produces a real .framework.

[2015-02-01 19:22] ikonst commented on #151
Thanks.

As you can understand, I was trying to use cerbero to the best of my understanding. My goal is to move forward with openwebrtc / ios work, so I've been employing "workarounds". Basically, I saw how cumbersome the .framework thing is, and thought that if I need to keep introducing small changes into, say, osxaudio until it works right, dealing with .frameworks every time would be counterpr

[2015-02-01 19:29] sdroege commented on #151
Yeah, cerbero really has a problem of not enough documentation. Sorry that you had to spend your time on working in the wrong direction

Also I agree that regenerating the framework for every single change is quite annoying and time consuming. Unfortunately so far there's no idea for a better solution in general.
What you can do is that you compile and link the specific plugin you work on directly

[2015-02-01 19:42] ford-prefect commented on #151
For plugin development, we could probably document how to get a
gst-uninstalled setup working on OS X. Doesn't solve the problem got iOS
though.
On 02-Feb-2015 12:59 am, "Sebastian Dröge" <notifications@github.com> wrote:

[2015-02-01 19:44] superdump commented on #151
You can probably use the cerbero shell just as well for that on OS X. Right?

[2015-02-01 21:25] ikonst opened #154 "osxaudio: Does not support reconfiguration"
source-1 (interaudiosrc) is *sometimes* fixed to rate:48000.

The fixing is done in ...
[code]
... and the rationale is unclear, but nevertheless the troubling thing is that the `caps` argument **randomly** (i.e. seemingly a race condition) is...

 * on "good" runs, has rate:8000 (I'm testing with PCMA)
 * on "bad" runs, has rate:1..2^32

Consequentially:

 * on "good" runs, I'm no longer hitting

[2015-02-01 22:15] ikonst opened #155 "High latency on audio-only pipeline"
This issue is to track latency issues. I'm focusing on my iOS test app "TestSendReceive", which basically sends PCMA to localhost (with DTLS off).

I'm hearing echo in ~ 1 second, which is too high.

[2015-02-01 22:25] superdump commented on #155
I think there are avaudiosession configuration categories that may affect capture and rendering latency. As I recall if you check the gst debug output you should see what is being used for latency settings in the sink and source. There should not be significant latency in any of the pipelines but if there is, it's a bug.

[2015-02-01 22:49] ikonst commented on #155
I'm setting up AVAudioSession with:
[code]

BTW, `AVAudioSessionModeVideoChat` affects choice of microphone and equalizer, not latency.

`mySession.IOBufferDuration + mySession.inputLatency` add ~0.028 seconds of latency.

The research continues.

[2015-02-01 22:57] ikonst commented on #155
`gst_osx_audio_src_io_proc` is called with `inNumberFrames = 128` which doesn't sound too high either.

[2015-02-02 05:44] jrosssavant commented on #147
Yes, I spotted that earlier and have added it to my list of things to check out.  Thanks!

[2015-02-02 16:57] ikonst commented on #155
On a "self-view" audio iOS app (source → renderer, without transport) I get unacceptable latency of ~ 0.5s (or maybe less - I measured by ear - but it's noticeable, and it shouldn't be).

[2015-02-02 17:09] ikonst commented on #154
Here's what a virgin media-renderer looks like -- before caps negotiation:
![image](https://cloud.githubusercontent.com/assets/1186084/6004888/e0349ce0-ab0e-11e4-9eec-33ec70acb7d2.png)
(You can see that everybody is pretty much rate-agnostic.)

Here's what interaudiosrc looks like when it's "good":
![image](https://cloud.githubusercontent.com/assets/1186084/6004873/c15cd29c-ab0e-11e4-8f69-0a5ccf47

[2015-02-02 21:22] paericksen opened #157 "GStreamer-CRITICAL"
I'm trying to test Bowser on an iPad Mini with iOS 8.1.2 against demo.openwebrtc.io and I see hundreds of these messages in the Xcode debug log.  I haven't had a successful test yet, but I'm not sure if it's due to these messages or something else.

```(<unknown>:242): GStreamer-CRITICAL **: guint64 _gst_util_uint64_scale(guint64, guint64, guint64, guint64): assertion `denom != 0' failed```

[2015-02-02 22:19] ikonst commented on #154
After a crash course on GStreamer by @sdroege , I've realized the culprit wasn't what I thought it was.

Actually there's no harm in InterAudioSrc fixating on rate:48000, since it will reconfigure as soon as it receives data from its InterAudioSink. (Yes, there's a race condition here, but it's not what's at fault.)

The trouble is that osxaudio will not reconfigure its caps once it's playing. Act

[2015-02-02 22:22] ikonst commented on #154
PS. Isn't it weird that we have this race condition, regardless? Race conditions that cause the audio component to be (sometimes!) reconfigured for 48000 and afterwards 8000 doesn't sound like very healthy design.

[2015-02-02 23:04] ikonst commented on #155
@superdump , @sdroege - you had some observations today about the InterAudioSink/Src adding to the latency

[2015-02-02 23:13] superdump commented on #155
Yes. interaudiosrc currently has s default latency-time value of 100ms. Latency-time cannot be less than period-time and period-time should probably be an audio frame, which is often 20ms but depends on codec if a codec is involved.

I feel like for a low latency pipelines the interaudio* elements should probably act like a queue in order to not add any latency. @sdroege suggested this could be im

[2015-02-03 02:35] hthetiot commented on #157
I have actually the same errors.
I think and I'm may be wrong here that it may depend the received video
size.

On 2 February 2015 at 13:22, Andy Ericksen <notifications@github.com> wrote:

--
Harold Thétiot.

[2015-02-03 05:44] ford-prefect commented on #154
The reason it works this way is likely that interaudiosrc provides silence
buffers in the absence of buffers from the corresponding interaudiosink.
There is no way to predict what format will arrive later, so the
renegotiation is inevitable.

On 3 February 2015 at 03:52, Ilya Konstantantinov <notifications@github.com>
wrote:

[2015-02-03 05:45] ford-prefect commented on #154
And of course, if the caps / first buffer become available before the
interaudiosrc has to provide its first buffer, then we don't have to do any
such reconfiguration.

On 3 February 2015 at 11:13, Arun Raghavan <arun@accosted.net> wrote:

[2015-02-03 08:02] sdroege commented on #155
I'll look into implementing a "waiting mode" in interaudiosrc this week, which does not solve any problem by itself but will reduce the number of knobs you have for controlling the latency. It's slightly more complicated than I thought yesterday though, needs some more thinking

[2015-02-03 08:33] leonhust opened #158 "can not build openwebrt"
I cloned the latest project and build with following commands:
cd scripts/bootstrap
./bootstrap.sh -r linux
cd -
cd scripts/dependencies
./build-all.sh -Cbr linux android ios
./deploy_deps.sh
cd -
./build.sh -Cbr linux android ios

during ./deploy_deps.sh, I meet this issue:
Creating file release for ios
ls: cannot access *: No such file or directory
cp: cannot stat ‘openwebrtc-deps-armv7-ios/lib/

[2015-02-03 08:44] stefanalund commented on #157
I have seen these "errors" as well, @superdump @sdroege do you know what they could be?

[2015-02-03 08:50] sdroege commented on #157
Can someone get a backtrace from them? Just set a breakpoint there, or export G_DEBUG=fatal_warnings in the environment.

There was such a bug in vtdec at some point, but that's fixed since quite some time. So not sure where it tries to divide by zero now.

[2015-02-03 11:53] ikonst commented on #154
(y)

Submitted as https://bugzilla.gnome.org/show_bug.cgi?id=743925

[2015-02-03 15:56] frozeus opened #159 "Split libopenwebrtc library into libopenwebrtc and libopenwebrtc-bridge"
Hi,

Is there a way to build only the API of OpenWebRTC without Javascript binding and extra stuff ?

Thanks

[2015-02-03 18:15] superdump commented on #159
1-2 hours on a reasonably-specced machine but not on, say a Raspberry Pi. Even the new RPi 2 is going to be pretty slow. And you probably have to sort something out for a fast swap file system in order to link JavaScriptCore, maybe. You can probably set up some cross compilation environment but that's also going to need some work in the current build system. Cerbero is the place to figure this out

[2015-02-03 18:15] superdump commented on #159
Having said all that, we have demoed on the RPi though I'm not sure how @pererikb built everything.

[2015-02-03 19:18] ikonst commented on #159
I think he's running it on Raspberry Pi, not building it :)

[2015-02-03 21:27] paericksen commented on #157
hopefully I did this right, I exported `G_DEBUG=fatal_warnings` and rebuilt openwebrtc with `-Cbd`

For this test I used demo.openwebrtc.io, Audio was checked, Video was checked, and clicked Join.  There were no other parties connected to that particular session id.

https://gist.github.com/paericksen/28bfd1f9a9b690ec3746

[2015-02-03 23:56] nirbheek commented on #142
Opus 1.1 is in Cerbero and compiles properly for iOS with --host=arm-apple-darwin10. Which test failed, exactly? Do you mean the test for using the ARM assembly optimization?

[2015-02-04 05:13] stefanalund commented on #159
![image](https://cloud.githubusercontent.com/assets/190856/6035489/cf6aa252-ac34-11e4-8673-3e69c508254d.jpg)

:-)

[2015-02-04 06:06] superdump commented on #142
Yes. It compiles properly but without optimisations here with our build scripts. Can you check the configure script output in cerbero?

[2015-02-04 09:14] superdump commented on #157
I think that was a typo and @sdroege meant `G_DEBUG=fatal-criticals`. Run it from Xcode and it should then drop into lldb and you can run `thread backtrace all` or just `bt all`. Paste that backtrace output somewhere starting from the gst_util* error message.

[2015-02-04 09:32] sdroege commented on #157
No, I meant G_DEBUG=fatal_warnings (but fatal_criticals will do too). fatal_warnings implies fatal_criticals.

So not sure why it didn't raise SIGABRT on the criticals for you. Seems like setting that environment variable did not propagate into the process that got the criticals. Alternatively you can also set that with g_log_set_always_fatal() by passing ERROR | CRITICAL | WARNING in there.

[2015-02-04 13:31] stefanalund commented on #158
You need to have a Mac and build `osx` before you attempt to build for iOS. Removing iOS from the build should solve the problem. If this is not helpful, please re-open the issue.

[2015-02-04 13:33] stefanalund commented on #134
Any luck @agouaillard?

[2015-02-04 13:41] frozeus commented on #159
Cool project, is it open source ?

[2015-02-04 14:11] paericksen commented on #157
okay, this time I added `G_DEBUG=fatal_warnings` in `Scheme -> Arguments -> Environment Variables` in Xcode.  The debugger opened on the first `GStreamer-CRITICAL` message and I ran `bt`.

The output is at: https://gist.github.com/paericksen/6659f58c6d7241337939

[2015-02-04 14:18] ford-prefect commented on #157
You need to do a 'bt all' instead.

On 4 February 2015 at 19:41, Andy Ericksen <notifications@github.com> wrote:

[2015-02-04 14:23] paericksen commented on #157
git has been updated with output of `bt all`

https://gist.github.com/paericksen/6659f58c6d7241337939

[2015-02-05 07:52] Rugvip opened #161 "Cerbero Android build produces broken .jar files"
The .jar files produces by the cerbero Android build contain invalid dependencies and can't be used. The best way around this at the moment is to use the build scripts instead.

[2015-02-05 08:07] stefanalund commented on #159
@frozeus do you mean the Raspberry Pi part? It could be, but we haven't made it available as one of our support platforms yet. It's still a bit of a hack :) If you are interested, and willing to get your hands dirty, maybe we can provide you with a patch.

We don't have any example code for running OpenWebRTC on a server, we try to limit our focus to clients. But in theory there is nothing prevent

[2015-02-05 08:36] leonhust commented on #158
OK, I'll have a try.
Thanks

[2015-02-05 09:38] frozeus commented on #159
Yes i will be very interested. I think it could be a lovely solution for all raspberry pi owners, much more better than a simple rtp server with gstreamer :)

And by the way if someone is interested i successfully build with glib and gstreamer.
You just need to remove dirs 'binding, bridge, test' from the configure.ac and Makefile.am and remove some PKG_config_check in configure.ac.

[2015-02-05 13:52] stefanalund commented on #159
Cool, we will provide some patches soon, we just need to clean them up a bit first :)

Would be great if you would document your work on the Wiki: https://github.com/EricssonResearch/openwebrtc/wiki

Thanks

[2015-02-05 23:40] nirbheek commented on #142
The ARM assembly optimizations are only enabled when floating point support is disabled (i.e., when Opus only uses fixed point arithmetic). However, Opus already has intrinsics/NEON support on ARM and x86, which also have improved performance in this release.

Cerbero doesn't disable floating point arithmetic; I've just added a comment to the recipe about the fixed point support.

[2015-02-06 04:26] voznesenskym opened #162 "Audio does not work on iOS"
I can't get Audio to work on iOS. I also can't get the app to build, but that is a whole other issue which I will post on next. Is this a known issue?

Got app on store, ios 8.1, iPhone 6

[2015-02-06 04:45] leonhust commented on #158
Hi stefan,
Unfortunately, removing osx build does not help. The exact same issue happens.

My host is a 64bit ubuntu 14.04, the build steps are:
cd <root>
cd scripts/bootstrap
./bootstrap.sh -r linux
cd <root>
cd scripts/dependencies
./build-all.sh -Cbr linux android
./deploy_deps.sh
cd <root>
./build.sh -Cbr linux android

How to reopen this ticket?

[2015-02-06 06:14] stefanalund commented on #162
Which app do you mean, Bowser?

[2015-02-06 06:38] voznesenskym commented on #162
Yes. Would you like logs? or screenshot? (Video works fine)

[2015-02-06 07:01] stefanalund commented on #162
Are you using our demo app demo.openwebrtc.io (I guess you have checked the audio box)? Which browser are you using on the other side?

[2015-02-06 07:06] stefanalund commented on #158
@Rugvip any idea?

[2015-02-06 07:12] superdump commented on #158
This is a recurring Linux build bug. I'll try a fresh Ubuntu and see if I can reproduce.

[2015-02-06 07:32] voznesenskym commented on #162
I did check the audio box, and I am using the demo app of the app store.

Chrome on the other end. I tried Safari as well.

[2015-02-06 08:46] sdroege commented on #159
@frozeus those are exactly the changes needed, yes. Now if you just make them conditional based on some --disable-bridge configure switch, this should be ready to merge :) Feel to ask here if you need any help.

[2015-02-06 09:16] sdroege commented on #157
This doesn't look like the environment variable had any effect. It didn't break on the assertion, but it seems like you did that yourself at a later time.

[2015-02-06 12:26] frozeus commented on #158
I didn't try on ubuntu but the error is comming from the linker the symbols of libEGL.so are missing.
Maybe with adding '-lEGL' no ? or adding libEGL to the pkgconfig file.

[2015-02-06 16:08] paericksen commented on #157
I can't say whether the variable did what it was supposed to or not, but I did not set any break points or try to break at any point.  Without the variable, there is no break and the app keeps running and continously prints the GStreamer-CRITICAL log message.

[2015-02-06 20:13] paericksen commented on #157
here's a backtrace from a different device, this time an iPhone 6+ with iOS 8.1.2.

this is immediately after clicking the JOIN button with audio and video checked.

[2015-02-06 22:36] superdump commented on #157
It seems that the critical is coming from avfvideosrc here: http://cgit.freedesktop.org/gstreamer/gst-plugins-bad/tree/sys/applemedia/avfvideosrc.m#n911

time_info.duration.timescale is sometimes 0 and quite often.

[2015-02-07 09:24] stefanalund commented on #157
I see these messages as well even though everything works as it should. Should we submit a bug to GStreamer about it perhaps?

[2015-02-07 11:18] superdump commented on #157
@pererikb reported it to @alessandrod who is working on avfvideosrc a bit anyway. Hopefully a fix will come soon. I expect it appeared after some of the work on improving video frame rate from cameras on iOS/OS X.

[2015-02-07 14:04] stefanalund commented on #85
Me and @superdump just confirmed that it is now possible to run OpenWebRTC (in Safari) -> Chrome using Matrix. Closing this issue, thanks for all the debug support.

[2015-02-07 14:04] #85 closed

[2015-02-08 07:29] stefhak opened #163 "sdpMid wrong in ICE Candidates"
sdpMid is set to null; however this leads to the candidate being rejected by Chrome. Should be empty string instead ("") AFAICU.

Line 989 in webrtc.js.

[2015-02-08 07:32] superdump commented on #163
Make a patch? And get @adambe and/or @pererikb to review.

[2015-02-08 09:02] stefhak opened #164 "No interop FF Nightly or DevEd if OWR inititates"
Works ok if FF is "offerer", but not other way around. Works in both roles towards FF Production.
Difference spotted: FF Production answers with H264, the other two with VP8.

Many SDPs below for the interested:
============== safari -> FF nightly, unsuccessful
"v=0
o=- 1423383362140759600 1 IN IP4 127.0.0.1
s=-
t=0 0
a=msid-semantic:WMS D+PSKFQASblquTMW+yDdTAb3DjjC3onU86dF
m=video 64085 RTP/SAVPF

[2015-02-08 09:37] stefhak commented on #164
H264 in offer seems not to be the problem, even if removed before setLocal it does not work.

[2015-02-08 09:43] superdump commented on #164
We recently added RTX support to the JS layer. Could that be related?

[2015-02-08 09:46] superdump commented on #164
Does modifying to add the first candidate actually create a valid SDP though, if claiming trickle mode?

[2015-02-08 10:09] superdump opened #165 "Fix race between gathering candidates and helper server DNS resolution"
A STUN/TURN address is resolved asynchronously and only when resolved is it added to the nice agent. Meanwhile, sessions can be added, triggering the start of gathering. This means that gathering can start and complete before the STUN/TURN server is resolved and completely added so that it can be used in gathering.

It is not clear to me yet whether:
* All helper servers should be expected to be a

[2015-02-08 10:59] stefhak commented on #164
I don't know. I just noted that Chrome and OWR includes a candidate in first offer/answer even if mode is trickling, so I added it to the FF answer just to do the same thing. Nothing changed regarding functionality.
I guess someone needs to do some wiresharking.

[2015-02-08 13:32] stefhak commented on #164
If I remove RTX from the JS layer, from which stage do I need to re-build stuff?

[2015-02-08 13:36] superdump commented on #164
Just rebuild openwebrtc itself.

[2015-02-08 19:07] stefanalund commented on #51
Landed now, closing.

[2015-02-08 19:07] #51 closed

[2015-02-08 19:23] stefanalund opened #168 "Black video on A-side owr to owr"
Only getting black *remote* video frames on A-side when running OWR -> OWR, e.g. Safari+daemon -> Bowser:

[code]

[2015-02-09 06:40] superdump commented on #168
Every time?

[2015-02-09 06:44] stefanalund commented on #168
Yes. Using solid wifi at home. OWR to Chrome works every time though, even if I get the occasional black frame on Chrome (remote).

[2015-02-09 08:38] superdump commented on #168
I just tried with the daemon and Safari with two tabs and I get black on both sides. Nice...

[2015-02-09 10:39] stefanalund commented on #168
Tried rolling back to 1fe9cd79999ce3a9e4017953297548029aff9b40 (before RTX in JavaScript) and I see the same problem.

[2015-02-09 12:14] superdump commented on #168
The black on both sides was with a cerbero build from yesterday on OS X. Using our build scripts, I get black on the initiator side, the same as Stefan reported.

[2015-02-10 07:58] stefanalund commented on #168
Rolled back to https://github.com/EricssonResearch/openwebrtc/commit/47200c674466c6dc5126557e6462f13b7db6c3bb and rebuilt everything, still get the same problem.

[2015-02-11 06:36] sdroege commented on #168
I have the same problem with test-send-receive apparently (or something else wrong there), will look into this.

[2015-02-11 06:41] stefanalund commented on #168
Much appreciated, this is not so nice :-)

[2015-02-11 09:35] sdroege commented on #168
This is fixed now by this commit: http://cgit.freedesktop.org/gstreamer/gst-plugins-good/commit/?id=b79eff7f9bfcf1b3b0360d346cc3b3483da1361e

However it still takes some time because we are losing the first keyframe again, and first have to re-request it. Not too long ago we did not lose the first keyframe.

[2015-02-11 09:36] sdroege commented on #168
This is probably happening because of all the following debug outputs in the beginning:
0:00:00.699166552 29048      0x190ed90 WARN                 srtpdec gstsrtpdec.c:1025:gst_srtp_dec_chain:<srtp-decoder> Invalid buffer, dropping

Not sure why yet.

[2015-02-11 09:42] stefanalund commented on #168
Fantastic, do we have to move to a newer version of GStreamer before this is propagated to owr?

[2015-02-11 09:46] sdroege commented on #168
Yes, I'm also checking why we lose the key frame now. That's not good and delays getting the remote view here by 8 seconds

[2015-02-11 10:55] stefanalund commented on #168
A lot better than getting no video at all :)

[2015-02-11 10:59] superdump commented on #168
Excellent. I'm working on a build script update that I'll send up soon.

[2015-02-12 07:44] stefanalund opened #170 "Arbitrary video dimensions breaks pipeline"
Setting a video resolution that is not support breaks the pipeline, e.g.

[code]
Generates the following error:
[code]

[2015-02-12 08:21] sdroege commented on #170
Can you get a debug log for this? Are you reproducing this with test-send-receive, or how?

[2015-02-12 08:36] sdroege commented on #158
Passing --disable-egl to gst-plugins-bad' configure would be the better solution here IMHO.

[2015-02-12 08:36] sdroege commented on #2
Any progress/plans here?

[2015-02-12 08:37] sdroege commented on #96
@alessandrod any progress here?

[2015-02-12 08:38] sdroege commented on #137
FWIW, in cerbero we always build with debug symbols currently. -O2 -g or -Os -g. But no special configure parameters to things like glib to enable special debugging code.

[2015-02-12 08:41] sdroege commented on #141
Is this still a problem? This should be automatically solveable, and with latest GIT of GStreamer also seems to be. Compare:

gst-launch-1.0 audiotestsrc ! "audio/x-raw,rate=44100" ! audioresample ! opusenc ! rtpopuspay ! fakesink
gst-launch-1.0 audiotestsrc ! "audio/x-raw,rate=44100" ! opusenc ! rtpopuspay ! fakesink

The second is failing, the first is properly resampling to 48kHz before passing

[2015-02-12 08:46] sdroege commented on #126
Ok, let's go back to the original issue here instead of build problems. Please create new tickets for that.

@Rugvip did you have any success with trying a newer GLib version? If not we should start creating a minimal testcase for this and make sure to fix it. If it breaks in Owr, it will also cause problems in GStreamer elements that use a custom GMainContext internally.

[2015-02-12 08:56] nirbheek commented on #126
Rugvip created a ticket for the jar problems a while ago: https://github.com/EricssonResearch/openwebrtc/issues/161

[2015-02-12 08:59] sdroege commented on #151
Yes

[2015-02-12 09:11] sdroege commented on #157
This should be fixed now: http://cgit.freedesktop.org/gstreamer/gst-plugins-bad/commit/?id=31f59cb344fc8fc1347092fedfdbcd0ca6c80f0f

[2015-02-12 09:11] #157 closed

[2015-02-12 09:17] #163 closed

[2015-02-12 09:19] sdroege commented on #126
Yes, I don't care about that in this ticket :stuck_out_tongue: This is about GMainContext being broken on Android

[2015-02-12 13:08] frozeus commented on #159
Thanks for you support, i'm a newbie with autools/autoconf but i will try.

Also as i have a hardware h264/opus encoder i'm editing owr_local_media_source to support appsrc and push data in this source. Not sure there is a generic way to do this. As soon as it's working i will try to push a patch if you think it can be usefull.

[2015-02-12 14:39] stefanalund commented on #159
Cool, please do!

[2015-02-12 16:41] superdump commented on #157
@sdroege great that it's fixed. :smiley: We need to update the cerbero recipes and build scripts though.

[2015-02-12 16:42] sdroege commented on #157
cerbero always uses latest git master currently, but the build scripts have to be updated indeed :)

[2015-02-12 16:42] superdump commented on #158
@sdroege what packages are needed on x86 Linux for functional gstgl/glimagesink?

[2015-02-12 16:47] superdump commented on #159
I think @ford-prefect has been doing some work to handle compressed media sources but I'm not sure how much he's managed to do. Maybe that work is useful to you and we can discuss how to continue with it if you're interested. :smile:

[2015-02-12 16:48] superdump commented on #157
Ok. Well I was going to update them anyway soon so I'll do it when I can.

[2015-02-12 17:30] francus87 opened #171 "Build error ./build.sh -Cbr linux android"
Hi everyone,

I have a error when running $ sudo ./build.sh -Cbr linux android

This is  the result console:

  CCLD     libopenwebrtc.la
/usr/bin/ld: cannot find -lgstopus
/usr/bin/ld: cannot find -lgstopengl
/usr/bin/ld: cannot find -lgstinter
/usr/bin/ld: cannot find -lgstgl-1.0
/usr/bin/ld: cannot find -lgstsrtp
/usr/bin/ld: cannot find -lgstvideoparsersbad
/usr/bin/ld: cannot find -lgstbadvid

[2015-02-13 03:04] unanimous1 commented on #3
Is there a new ETA for this?  Excited to see this feature.

[2015-02-13 05:04] stefanalund commented on #3
Within a couple of days!

[2015-02-13 07:35] superdump commented on #171
It looks instead like a problem with your dependencies build. Did that step complete without error?

[2015-02-13 07:59] sdroege commented on #158
libgl1-mesa-dev (Ubuntu/Debian) should be enough, maybe libglu1-mesa-dev too. libegl1-mesa-dev and libgles2-mesa-dev would additionally enable the EGL and GLES backends, but those won't be used by default anyway unless they are the only available ones.

[2015-02-13 09:09] stefanalund opened #172 "Raspberry Pi support"
Make OpenWebRTC run on Raspberry Pi. This is a placeholder for people interested (seems to be many :)). We have done some hacks but nothing that is yet ready to land as another supported platform.

![img_0048](https://cloud.githubusercontent.com/assets/190856/6184937/5f8f5fe6-b368-11e4-9bf6-45e037ee4f70.JPG)

[2015-02-13 09:11] sdroege commented on #172
Relevant to this are also @ford-prefect 's changes to support compressed video

[2015-02-13 09:49] stefanalund commented on #170
How do I get the debug log? Not test-send-receive, I'm working on a native iOS app (https://github.com/EricssonResearch/openwebrtc-examples/pull/49) but I guess they use the same C API.

[2015-02-13 11:16] ford-prefect commented on #172
Just dumping what I have so far for compressed support:

1. The interapp* GStreamer elements will be required. The elements need quite a bit of work before going upstream, but can be used to at least demonstrate what we want: https://github.com/ford-prefect/gst-plugins-bad/tree/interapp

2. Patches to OpenWebRTC itself: https://github.com/ford-prefect/openwebrtc/commits/compressed -- the last patc

[2015-02-13 11:17] ford-prefect commented on #159
I've left notes on my works so far at
https://github.com/EricssonResearch/openwebrtc/issues/172#issuecomment-74239108

On 12 February 2015 at 22:17, Robert Swain <notifications@github.com> wrote:

[2015-02-13 12:07] ford-prefect commented on #170
I can see this happen with test-send-receive when forcing non-standard
resolutions. Taking a look now.

On 13 February 2015 at 15:19, Stefan Ålund <notifications@github.com> wrote:

[2015-02-14 10:40] ijsf opened #173 "Gio not instantiatable"
Hey,

I've been checking out the OpenWebRTC project for a while, and recently attempted a iOS universal build using Cerbero, target deployment being an iPad Mini on iOS 8.1.3.

The build completed successfully, and the appropriate framework was linked with Bowser. When I booted Bowser up though the following error occurred:

    ** Message: Loaded namespace: GLib
    ** Message: Loaded namespace:

[2015-02-14 11:03] stefanalund commented on #173
I just noticed the same problem. It is even worse on 64-bit devices where the app crashes inside JavaScriptCore. Presumably there is a problem with JavaScript handling when using Cerbero. We are investigating. Ping @sdroege @nirbheek :)

[2015-02-14 11:18] ijsf opened #174 "Cerbero development documentation"
I'm trying to debug some issues in OpenWebRTC but having issues keeping my changes after invoking Cerbero to build an iOS package. Cerbero's own help documentation seems incomplete or simply incorrect.

First of all, invoking `./cerbero-uninstalled -c config/cross-ios-universal.cbc cleanone openwebrtc` seems to perform a clean, but a subsequent `./cerbero-uninstalled -c config/cross-ios-universal.

[2015-02-14 11:27] superdump commented on #174
Thanks for the feedback! We are going to document all these things before we make the move so that people have an easier time getting going.

So, buildone is right. The shell only works for the host platform build but it is how to run the openwebrtc-daemon. I haven't settled the best way to modify the code and rebuild it with the modifications yet but I think probably copying the repo of interest

[2015-02-14 11:40] stefanalund commented on #174
@ijsf with regards to your third comment/issue, I have specified Header Search path:
`~/Library/Developer/OpenWebRTC/iPhone.sdk/OpenWebRTC.framework/Headers` (recursive) on iOS and not `/Library/Frameworks/OpenWebRTC.framework`. This seems to be enough for Xcode to find all headers.

[2015-02-14 14:43] nirbheek commented on #161
I've made a preliminary fix for this: https://github.com/nirbheek/cerbero/commit/6b9c8b6ff5e96b14cba7f9231b26f39a06316f41

Everything *looks* ok, but I haven't tested it with a native/webview app yet.

[2015-02-16 09:29] stefanalund opened #175 "Cerbero owr build error"
As report by mail:
[code]

@nirbheek?

[2015-02-16 10:36] sdroege commented on #175
You first have to build the OSX version of OpenWebRTC. Only then you can build iOS.

[2015-02-16 10:42] stefanalund commented on #175
I will tell him. Can we close the issue then?

[2015-02-16 10:43] sdroege commented on #175
Yes, unless that wasn't the problem and something else is wrong. Let's reopen then.

[2015-02-16 10:50] #170 closed

[2015-02-16 11:02] sdroege commented on #173
This would happen if the compiler optimized away our hack to retain the symbols not used directly. openwebrtc master still doesn't have that right, I have a fix here though: https://github.com/nirbheek/openwebrtc/commit/9e71939eb47e8ea2319a84af326f6fc07bdb062f

before cerbero built from that branch, it does not do that anymore. So this fix has to go in master. Doing that now.

@stefanalund for the

[2015-02-16 11:06] sdroege commented on #173
This issue should be fixed now with https://github.com/EricssonResearch/openwebrtc/commit/2eb27b4344079f03127d296f96068260e4c6e1eb

[2015-02-16 11:06] #173 closed

[2015-02-16 12:30] frozeus commented on #172
I have also a compressed media src (H264 and Opus) i will try your patches.

I'm newbie to gstreamer what the point to use interapp ?

[2015-02-16 13:49] emphilip commented on #175
Hello

I'm the OR of this issue.  I did start by building the OSX version of OpenWebRTC (I am on Yosemite).  Navigating to ~/Library/Frameworks, I have some sort of recursive directory created that may be part of the issue?

![screen shot 2015-02-16 at 8 39 39 am](https://cloud.githubusercontent.com/assets/871072/6212856/ae266f86-b5b7-11e4-8185-4bdc53937e55.png)

Here is the log when I tried build

[2015-02-16 13:56] stefanalund commented on #175
The `OpenWebRTC.framework` that you should use for iOS development is found in:

[code]

[2015-02-16 13:59] stefanalund opened #177 "[Cerbero] JavaScriptCore issue on 64-bit Android and iOS"
Applications that use the OWR bridge (e.g. hybrid apps like Bowser) crashes when running on 64-bit devices:

[code]

[2015-02-16 14:01] stefanalund commented on #173
@sdroege Ticket created: https://github.com/EricssonResearch/openwebrtc/issues/177 Do you think it could be related?

[2015-02-16 14:06] emphilip commented on #175
I just had a thought - is the bootstrapping step for the MacOSX build in the build instructions?

[2015-02-16 14:10] sdroege commented on #175
@emphilip Did you delete any files since a previous build? It believes that you already built gstreamer-1.0 and others, but can't find during the build.

Maybe run
./cerbero-uninstalled -c config/osx-x86-64.cbc wipe --build-tools
[type yes]
./cerbero-uninstalled -c config/osx-x86-64.cbc bootstrap
./cerbero-uninstalled -c config/osx-x86-64.cbc package openwebrtc

If this still fails the same way, p

[2015-02-16 14:14] sdroege commented on #177
Might be an incompatibility between seed and javascriptcore. Unfortunately I don't have any 64 bit ARM devices here for testing.

[2015-02-16 14:22] ijsf commented on #175
I also experienced this issue. In my case, it was caused by the fact that I had not installed cerbero in the home directory (as mentioned in the docs).

After removing everything and installing cerbero in ~/cerbero, and doing a build I didn't experience any errors anymore.

[2015-02-16 14:23] emphilip commented on #175
@sdroege I didn't delete any files, but i'm trying the entire process from scratch for better traceability.

[code]

I'll follow up here when this is complete.

[2015-02-16 14:43] frozeus commented on #134
Got the same issue i updated to the latest Gstreamer plugins base.

@agouaillard Did you find a solution ?

[2015-02-16 15:17] ijsf commented on #144
I'm available for any help on further optimization for iOS audio. Done a iOS 6.x and 7.x port of WebRTC in the past and have a working setup for an earlier version of WebRTC, so I might be able to provide some pointers.

[2015-02-16 15:18] stefanalund opened #178 "Scale problem in GL video view"
`OpenWebRTCVideoView` does not scale down. Therefore, only a small part of the video is shown. Making the view bigger in Xcode/Storyboard reveals bigger part of video. Ideally, the GL view should respect the UIView's scale mode (such as "Scaled to Fill"):

![img_0113](https://cloud.githubusercontent.com/assets/190856/6214117/acd8b3c0-b5f6-11e4-9d4b-e1e095de5969.PNG)

[2015-02-16 15:18] ijsf commented on #168
Can confirm this (or a similar) issue, just tested with current openwebrtc built with Cerbero on an iPad Mini 1.

Client A (OpenWebRTC/Bowser, iOS 8.1.3): local stream works, remote stream (B) black
Client B (Chrome, OS X): local stream works, remote stream (A) black

[2015-02-16 15:32] ijsf commented on #168
I'm suspecting the stream is coming in either RGBA or BGRA into gst_ercolorspace_transform_frame in the ercolorspace plugin. This function is not set up to handle RGBA or BGRA despite the capabilities indicating that it can.

[2015-02-16 16:33] stefanalund commented on #175
@sdroege the wiki does not say anything about deleting files before rebuilding. Could you add that step to the instructions?

[2015-02-16 17:06] stefanalund opened #179 "CRITICAL: gst_gl_window_show problem?"
This is logged when using owr native API on iOS using Cerbero:
[code]
Is this something that needs to be fixed? The video is shown.

[2015-02-16 19:40] stefanalund commented on #161
Have this been verified? Would be great to land.

[2015-02-16 20:08] Rugvip commented on #161
Right, I tried this and it does idd look ok, but it crashes with the following:
[code]

[2015-02-16 20:13] nirbheek commented on #161
Hum, I thought gnustl_shared would be provided by the Android ABI. I'll look into this again tomorrow.

[2015-02-16 22:58] sdroege commented on #175
@stefanalund that's not necessary, I just asked that in case @emphilip had an inconsistent state currently... which is how his build problem looked like.

[2015-02-16 23:00] sdroege commented on #161
@nirbheek that should be fixed in cerbero master, if not please talk to Edward. He was fighting with the same problem last week or the week before and found the reason.

[2015-02-16 23:04] sdroege commented on #179
This is fixed now here: http://cgit.freedesktop.org/gstreamer/gst-plugins-bad/commit/?id=475dfaedc1f06904bed9f2c230cedc23b8c024a7

As you already guessed, it's not really a problem.

[2015-02-16 23:04] #179 closed

[2015-02-17 03:30] ajohnson23 commented on #62
It has been a few more months, any more word on this?

[2015-02-17 05:51] stefanalund commented on #62
@adam-be @pererikb would you like to comment?

[2015-02-17 06:25] superdump commented on #175
@sdroege I suppose it could be in a troubleshooting/ things to try in case of errors section.

[2015-02-17 07:01] stefanalund commented on #177
I now get a new kind of error after re-building Cerbero (SimpleDemo on 64-bit iPhone 6+):

![screen shot 2015-02-17 at 07 59 26](https://cloud.githubusercontent.com/assets/190856/6224360/f9c916a0-b67a-11e4-8ac0-8f57148b846c.png)

Stacktrace:
[code]

[2015-02-17 07:22] StephaneC opened #180 "Building OpenWebrtc"
I cloned the projet and followed the step here:
https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC

I had to re-install XCode because i had XCode beta. After that everythings worked fine for step 1,2, 3.

Now, i'm having an error on step 4.

Running the command `./build.sh -Cbr osx` i get the error below.

INFORMATION: Host: OSx Yosemite 10.10.1

Now type 'make' to compile thi

[2015-02-17 07:54] #180 closed

[2015-02-17 07:58] emphilip commented on #175
Thank you for all the support.  @ijsf was right - I had created a repository in a subdirectory of my home directory instead of my home directory itself.

I've been able to successfully compile and run the framework & simpleDemo application.  Though the remote video feed just shows up as a black box, the framework builds and integrates really nicely.  @stefanalund @sdroege  Thanks a ton for the sup

[2015-02-17 08:00] sdroege commented on #178
Is this a regression or was it always like that?

[2015-02-17 08:16] stefhak commented on #62
I think an update to libnice is needed. I don't know if anyone looked into
that.

On Tue, Feb 17, 2015 at 6:51 AM, Stefan Ålund <notifications@github.com>
wrote:

[2015-02-17 08:49] sdroege commented on #177
In that line it's calling our callback, most likely gotHeaderLine from websocket.js. And it seems like seed or JavascriptCore already destroyed the closure for that.

[2015-02-17 10:46] stefanalund commented on #177
@stefhak could this be related to the changes you have done in the bridge?

[2015-02-17 13:53] stefhak commented on #177
I don't know. It's supposed to be benign and don't do anything if you do not have a browser extension, but things have gone wrong before.

Check out an earlier version of bridgeserver.js and build again. If that works, perhaps we should have flags or specific versions of bridgeserver for cases when there is no browser.

[2015-02-17 14:04] sdroege commented on #177
I would expect this to be another bug in seed where it doesn't properly keep track of objects and frees them too early.

[2015-02-17 17:45] stefanalund commented on #62
Maybe Olivier Crete knows. Describe the issue in an email an I can forward it.

[2015-02-17 18:19] #175 closed

[2015-02-17 18:24] stefhak commented on #62
I asked on the libnice list: http://lists.freedesktop.org/archives/nice/2015-February/001072.html
Olivier has already responded, and I'm trying to gather info to be able to make a reasonable response. Please chime in if you have anything to add!

[2015-02-17 19:07] stefanalund commented on #178
Pretty sure it's a regression. Before switching to use Cerbero the video was scaled down to fit the view (sometimes letter boxed though).

[2015-02-17 20:06] francus87 commented on #171
I think so, but I have run again: ./build-all-sh -Cbr linux android and it ocurred this error:

checking for xxd... /usr/bin/xxd
configure: error: Android API level 19 not found in the SDK
Failed building...openwebrtc-gst-plugins
mv openwebrtc-gst-plugins openwebrtc-gst-plugins_build_failed_on_150217-20:24:19_using_script_with_md5sum_3322236bfb56e044696fb79e707682275dc76676

I have installed Andro

[2015-02-17 20:28] stefanalund commented on #177
If I disable armv7s and arm64, i.e. specify `$(ARCHS_STANDARD_32_BIT)`, this crash does not happen, even when using Cerbero. BUT I don't get any video in the SimpleDemo app.

[2015-02-17 21:03] stefanalund commented on #177
Correction: I do get video when forcing 32-bit only, but I now encounter the same problem as https://github.com/EricssonResearch/openwebrtc-gst-plugins/issues/25

Could it be that 64-bit is problematic in ercolorspace? Maybe we should switch sooner than later :)

[code]

[2015-02-17 22:47] Rugvip commented on #171
Here's the check from configure.ac:
[code]

It looks like dx is found, what's the path to your `dx` binary? or have you set the DX environment variable?

The directory that the configure script is searching for is `<android-sdk>/platforms/android-19` do you have that directory in your SDK dir?

[2015-02-18 14:29] stefanalund opened #183 "gst_query_set_latency assert"
Probably not an issue but still something to fix perhaps:
[code]

[2015-02-18 14:44] sdroege commented on #183
Definitely something to fix, yes. When did that happen, what did you do?

Do you have a debug log?

[2015-02-18 15:54] sdroege commented on #183
Or a backtrace of the warning, e.g. after setting G_DEBUG=fatal_warnings :)

[2015-02-18 17:05] sdroege commented on #183
Most likely comes from avfvideosrc, the latency code there looks like it could run into that warning.

[2015-02-18 20:59] sdroege commented on #183
This can also cause the black frames BTW, will fix tomorrow

[2015-02-18 23:07] sdroege commented on #183
This should be fixed now: http://cgit.freedesktop.org/gstreamer/gst-plugins-bad/commit/?id=84ab11afdbfd87bf1aa916cc7803163536513339

[2015-02-18 23:33] sdroege commented on #183
And a couple of related fixes in all GStreamer modules

[2015-02-19 07:37] stefanalund opened #184 "libvpx crashes on iOS"
Running OWR -> Anything only yields black video frames when using Cerbero on iOS 32-bit.

[2015-02-19 09:12] sdroege opened #185 "ercolorspace: Does not support BGRA->I420 conversion but needed on iOS"
See https://github.com/EricssonResearch/openwebrtc-gst-plugins/issues/25#issuecomment-74965862

We should either switch to videoconvert, add support for these conversions to ercolorspace or force avfvideosrc to not output RGB.

[2015-02-19 09:12] sdroege commented on #184
Related: https://github.com/EricssonResearch/openwebrtc/issues/185

[2015-02-19 09:21] stefanalund commented on #184
After using https://github.com/sdroege/openwebrtc/commit/30e5f54a813d56d8cb0d704898bbd4b8dfb6622a I get one correct video frame through before owr crashes with the following error:

[code]

[2015-02-19 09:21] stefanalund commented on #184
![screen shot 2015-02-19 at 10 09 11](https://cloud.githubusercontent.com/assets/190856/6264150/0d7e03a2-b821-11e4-9058-551d75978cca.png)

[2015-02-19 09:23] stefanalund commented on #184
And H.264 works even though the performance seems to have taken a hit. Getting video in both directions, owr -> FF.

[2015-02-19 09:46] sdroege commented on #184
Let's repurpose this ticket then for the libvpx crash, also relevant part from IRC log:

<slomo> yeah, videoconvert is going to be slow because we don't have orc working properly on ios
<slomo> https://github.com/EricssonResearch/openwebrtc-gst-plugins/issues/26
<slomo> i think we should look into upgrading libvpx to something newer before further investigating that crash. our version and the late

[2015-02-19 11:17] stefanalund commented on #183
This "problem" is still present, even if the (H.264) video is now working: https://github.com/EricssonResearch/openwebrtc/issues/184

[2015-02-19 11:37] sdroege commented on #183
Can you give me a debug log and a backtrace of the warning (with G_DEBUG=fatal_warnings)?

[2015-02-19 13:02] sdroege commented on #185
@superdump suggests that we switch to videoconvert unconditionally for now. Later we have to see if improving ORC is simpler, adding the missing conversion to ercolorspace (that probably, but ercolorspace also has the problem that it can't be used on Android/ARM unconditionally), or switching to something based on libyuv for Android/iOS.

I personally would prefer videoconvert/orc of course, that'

[2015-02-19 17:35] sdroege opened #186 "Dropping the first packet(s) and thus the keyframe"
We currently send packets to nicesink already before it is connected. That will cause it to drop packets, especially it will drop our first packet(s) and thus the keyframe.

Looking for the correct fix now.

[2015-02-19 17:48] sdroege commented on #186
A patch will be here once fd.o has updated things: http://cgit.freedesktop.org/~slomo/libnice/
Why is it impossible to attach non-image files to the github bugtracker? Completely useless...

I think this patch is not correct though, but it gives me the first frame instantaneous with test-send-receive. Less than a second.
We probably have to do something like this at the openwebrtc level instead, b

[2015-02-19 17:49] sdroege commented on #186
http://cgit.freedesktop.org/~slomo/libnice/commit/?id=dc39f9c302053c8c91d360f4af2b9cbcbd85ef56 to be specific

[2015-02-19 18:20] sdroege commented on #186
The fix inside owr would probably be the following:
- we wait until the agent has connected the stream
- and only then start the transport agent pipeline, so that at the moment the first frame is encoded and payloaded, we can immediately send it

[2015-02-19 19:01] StephaneC opened #187 "libsoup_build failed"
Trying to compile OpenWebRTC on my Mac OSX 10.10.1, got this error running ./build-all.sh -Cbr osx ios-simulator

9 warnings generated.
  CCLD     libsoup-2.4.la
  CC       soup-cookie-jar-sqlite.lo
  CC       soup-gnome-features.lo
  CC       soup-proxy-resolver-gnome.lo
  CC       soup-password-manager-gnome.lo
  CCLD     libsoup-gnome-2.4.la
libtool: link: warning: `/opt/workspaces2/ios/fwk-ope

[2015-02-19 22:49] superdump commented on #186
I think github's idea is that you paste your patch into http://gist.guthub.com/ publish it and link it in the issue. Not the most shiny thing ever. It could recognize patches and do it for you...

[2015-02-19 22:49] superdump commented on #186
Oops... http://gist.github.com/

[2015-02-20 06:36] stefanalund commented on #177
@sdroege did you look into why 64-bit brakes the bridge?

[2015-02-20 08:32] sdroege commented on #186
So apparently a similar patch for that was created by @alessandrod and is in the build scripts, but not at libnice upstream or in cerbero: https://github.com/EricssonResearch/openwebrtc-build-scripts/blob/master/dependencies/libnice_sink_wait_candidates.patch

I'll implement the fix in owr today so we can finally get rid of this. My current thinking is that the current behaviour in nicesink is the

[2015-02-20 08:55] sdroege commented on #177
No, I don't have any 64 bit ARM device. The problem is still https://github.com/EricssonResearch/openwebrtc/issues/177#issue-57807282 and everything else is solved by now?

As it works fine on x86-64 here it's not a generic 64 bit problem, and I'm suspecting that this is a incompatibility between seed and JavaScriptCore on iOS/ARM64 or maybe the JavaScriptCore version there has new interesting bug

[2015-02-20 09:23] sdroege commented on #184
New version of libvpx can be tested from here: https://github.com/ford-prefect/cerbero/commits/openwebrtc

[2015-02-20 11:04] sdroege commented on #185
We could also just use the videoconvert API from libgstvideo to support the RGB->I420/NVxx conversions in ercolorspace.

[2015-02-20 11:28] santokum opened #189 "Libsoup GI failure in Raspberry PI - GISCAN Soup-2.4.gir"
Tried building  in RPi - found below issue with Libsoup...

  CC       soup-session-sync.lo
  CC       soup-socket.lo
  CC       soup-status.lo
  CC       soup-tld.lo
  CC       soup-uri.lo
  CC       soup-value-utils.lo
  CC       soup-version.lo
  CC       soup-xmlrpc.lo
  CCLD     libsoup-2.4.la
  CC       soup-cookie-jar-sqlite.lo
  CC       soup-gnome-features.lo
  CC       soup-proxy-resolve

[2015-02-20 11:35] santokum opened #190 "build-libffi.sh invalid git option"
Issue with build-libffi.sh - invalid option for GIT - i guess this should be a patch -p3 < ffi_android.patch instead of git.

I removed following line in order get through:-
git am -p3 --include *closures* ffi_android.patch

/bin/mkdir -p '/home/pi/openwebrtc/scripts/dependencies/out/x86_64-unknown-linux/sqlite-autoconf-3080500/bin'
  /bin/bash ./libtool   --mode=install /usr/bin/install -c sqlite

[2015-02-20 11:59] sdroege commented on #186
Basically this requires rewiring things in the transport agent to start at least the send DTLS elements later once nicesink can send data, ideally also adding the send payload and source to be started at that point. We could of course get away with a pad block, but that will cause some backlog to build up and possible increases latency.

Rewiring these things in the transport agent doesn't seem to

[2015-02-20 14:09] sdroege commented on #186
erdtlsenc also just drops data if the DTLS handshake is not finished yet.

[2015-02-20 16:13] superdump commented on #190
What version of git do you have?

[2015-02-20 16:27] santokum commented on #190
git --version
git version 1.7.10.4
--------------------------------------------
On Fri, 20/2/15, Robert Swain <notifications@github.com> wrote:

 Subject: Re: [openwebrtc]  build-libffi.sh invalid git option (#190)
 To: "EricssonResearch/openwebrtc" <openwebrtc@noreply.github.com>
 Cc: "santokum" <santoshjram@yahoo.co.uk>
 Date: Friday, 20 February, 2015, 16:13

 What version of git do you
 have?

[2015-02-20 16:52] superdump commented on #190
Are you able to update to something newer? That version is from 2012. It looks like the include option for git am was possibly added around the time of gut 1.8.3.

We support Ubuntu 14.04 LTS with the build scripts though you're welcome to try on other distributions with similarly new packages.

[2015-02-20 16:59] superdump commented on #3
https://github.com/EricssonResearch/openwebrtc/pull/193

[2015-02-20 17:05] santokum commented on #190
I will give it a go this evening with RPi. Thanks
--------------------------------------------
On Fri, 20/2/15, Robert Swain <notifications@github.com> wrote:

 Subject: Re: [openwebrtc]  build-libffi.sh invalid git option (#190)
 To: "EricssonResearch/openwebrtc" <openwebrtc@noreply.github.com>
 Cc: "santokum" <santoshjram@yahoo.co.uk>
 Date: Friday, 20 February, 2015, 16:52

 Are you able to upd

[2015-02-21 07:13] ford-prefect commented on #184
I've updated the libvpx work there, and tested a FF (Mac OS) -> Bowser call
with this. The video turns up without artifacts on both sides. There are
other issues that we need to investigate, primarily related to the
framerate and latency, but the libvpx issue should be fixed once we merge
my patches.

On 20 February 2015 at 14:53, Sebastian Dröge <notifications@github.com>
wrote:

[2015-02-21 09:15] gtk2k commented on #190
I get git 2.3.0 (download form repository and make instal).

dependencies build problem.

CC soup-password-manager-gnome.lo
CCLD libsoup-gnome-2.4.la
libtool: link: warning: `/home/pi/openwebrtc/scripts/dependencies/out/x86_64-unknown-linux/libsoup/../libxml2-2.7.8/lib/libxml2.la' seems to be moved
libtool: link: warning: `/home/pi/openwebrtc/scripts/dependencies/out/x86_64-unknown-linux/libsoup/.

[2015-02-21 09:28] gtk2k commented on #190
I get git 2.3.0 (download form repository and make instal).

dependencies build problem.

./build-all.sh -Cbr linux
CC soup-password-manager-gnome.lo
CCLD libsoup-gnome-2.4.la
libtool: link: warning: /home/pi/openwebrtc/scripts/dependencies/out/x86_64-unknown-linux/libsoup/../libxml2-2.7.8/lib/libxml2.la' seems to be moved libtool: link: warning:/home/pi/openwebrtc/scripts/dependencies/out/x86_64-

[2015-02-21 14:08] mlakkadshaw opened #195 "Unable to build dependencies on Mac OS X 10.10.2"
Hi,
 When I try to build the dependences, I see this message, when the script is building gobject-introspection:
`env: Studio.app/sdk/platform-tools/:/Applications/Android: No such file or directory`
`everything-stamp.h error 127`
But the script marks gobject-introspection as successful and later when it build seed, I get an error ` girepository.h` file not found.
Any ideas why?

Thanks

[2015-02-21 14:29] mlakkadshaw commented on #195
Now type `make' to compile seed
/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-recursive
Making all in po
make[2]: Nothing to be done for `all'.
Making all in libseed
  CC       libseed-gtk3_la-seed-closure.lo
/Users/User/openwebrtc/scripts/dependencies/seed/libseed/seed-closure.c:79:35: error: invalid token at start of a preprocessor expression
#if GOBJECT_INTROSPECTION_VERSION < 0x

[2015-02-21 14:34] stefanalund commented on #195
Did you build for the host platform `osx` first?

[2015-02-21 16:55] ikonst commented on #144
This fix should eliminate the other case of resampling (before osxaudiosink) that happens sometimes (dependent on race):
https://bugzilla.gnome.org/show_bug.cgi?id=743925

[2015-02-21 18:22] mlakkadshaw commented on #195
Yes, I am getting these errors when building for osx

On Saturday, February 21, 2015, Stefan Ålund <notifications@github.com>
wrote:

[2015-02-21 20:24] ikonst opened #196 "libnice should be build with --disable-assert"
`configure --disable-assert` defines `NDEBUG`, which in turn is used in:
[code]

`nice_debug` is being called repeatedly during network I/O in `agent_recv_message_unlocked`
[code]

Therefore, it will benefit performance to update the libnice recipe with `--disable-assert`. The calls to nice_debug take up 2% of out 13% CPU usage of iPhone 5s sending and receiving PCMA in loopback.

[2015-02-21 20:50] stefanalund commented on #184
For some reason I could not build and was therefore not able to verify. But if @ford-prefect says it's working then I'm ok with merging this.

[2015-02-21 20:56] stefanalund commented on #185
Should we close or keep this issue open now that we have stopped using ercolorspace completely?

[2015-02-21 20:58] stefanalund commented on #168
Will this be fixed by moving to a newer version of GStreamer?

[2015-02-21 21:57] superdump commented on #184
:+1:

[2015-02-21 22:00] superdump commented on #185
I would leave it open as a sort of placeholder for now. It may be that we decide to implement the missing conversions in ercolorspace depending on how much work the libyuv and/or static orc stuff turns out to be. It sounded like @ijsf had managed to build libyuv and I think there are GStreamer elements...

[2015-02-21 22:02] superdump commented on #168
My understanding is newer GStreamer + some form of colour space conversion fix.

[2015-02-21 22:05] superdump commented on #196
Then I think release mode builds could use this and debug could leave them there. I have been using nice debug printing recently for investigating ice problems and I would not want to disable it entirely. Maybe just a patch to remove that one debug print. That one isn't interesting in my opinion.

[2015-02-22 04:38] mlakkadshaw commented on #195
When the run the command `./build-all.sh -Cbr osx` I get the above errors.

[2015-02-22 04:46] superdump commented on #195
If you `./build-girepository.sh -Cbr osx` do you see the same problem as in your first comment in this issue? It looks like your PATH environment variable may be broken or something. Or that that part of the build output was irrelevant and the issue was elsewhere.

[2015-02-22 05:11] mlakkadshaw commented on #195
Yes, I see the same errors:

env: Studio.app/sdk/platform-tools/:/Applications/Android: No such file or directory
everything-stamp.h error 127

[2015-02-22 05:13] mlakkadshaw commented on #195
/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-recursive
Making all in .
Making all in docs
make[3]: Nothing to be done for `all-am'.
Making all in tests
  GEN      everything-stamp.h
env: Studio.app/sdk/platform-tools/:/Applications/Android: No such file or directory
make[2]: *** [everything-stamp.h] Error 127
make[1]: *** [all-recursive] Error 1
make: *** [all] Error 2
xxd: G*-2.0.

[2015-02-22 05:13] superdump commented on #195
Can you paste the output of `env | grep PATH` here?

[2015-02-22 05:27] superdump commented on #186
Right, it would be much nicer if no data was sent before the connection was established and then no RTP/RTCP before the DTLS handshake was complete. And no backlog of data was built up while waiting for those events to occur.

[2015-02-22 05:50] weidezhang opened #197 "build failed for openwebrtc (Step 4)"
I'm trying to build the openwebrtc following the instructions:
https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC
Step 1~3 were successful. For step 3, I used:
./build-all.sh -Cbr osx ios ios-simulator
because I'm planning to try it on an ios-simulator.

At step 4: build OpenWebRTC when I run the following command:
./build.sh -Cbr osx
I tried several times with different machi

[2015-02-22 05:54] superdump commented on #197
I think we need to update and fix libopenwebrtc.exp. I'll look into that on Monday.

[2015-02-22 05:57] mlakkadshaw commented on #195
PATH=/Users/mohammed/bin/Sencha/Cmd/3.1.0.256:/Applications/Android Studio.app/sdk/platform-tools/:/Applications/Android Studio.app/sdk/tools/:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/Users/mohammed/db-derby-10.10.1.1-bin/bin:/opt/X11/bin:/usr/local/git/bin

[2015-02-22 06:03] superdump commented on #195
I wonder if the space in `Android Studio.app` is causing problems... Can you temporarily remove those from your PATH and try again?

[2015-02-22 06:04] mlakkadshaw commented on #195
I reset my path PATH=/bin:/usr/bin  and  ran
 ./build-girepository.sh -r osx
I get this message on the console:

Making all in docs
make[3]: Nothing to be done for `all-am'.
Making all in tests
  GEN      everything-stamp.h
env: ../g-ir-scanner: Too many levels of symbolic links
make[2]: *** [everything-stamp.h] Error 126
make[1]: *** [all-recursive] Error 1
make: *** [all] Error 2
xxd: G*-2.0.gir

[2015-02-22 06:05] superdump commented on #195
Try with -Cbr instead of just -r.

[2015-02-22 06:08] mlakkadshaw commented on #195
Same error:

5 warnings generated.
  CC       gthash_test-gthash-test.o
  CCLD     gthash-test
  CC       gi_dump_types-gdump.o
  CC       gi_dump_types-gi-dump-types.o
  CCLD     gi-dump-types
ld: warning: could not create compact unwind for _ffi_call_unix64: does not use RBP or RSP based frame
  CC       glib_print-glib-print.o
  CCLD     glib-print
ld: warning: could not create compact unwind f

[2015-02-22 06:19] mlakkadshaw commented on #195
I ran the command again, and now I am getting this error:

Making all in docs
make[3]: Nothing to be done for `all-am'.
Making all in tests
  GEN      everything-stamp.h
Traceback (most recent call last):
  File "../g-ir-scanner", line 53, in <module>
    from giscanner.scannermain import scanner_main
  File "../giscanner/scannermain.py", line 34, in <module>
    from giscanner.dumper import compi

[2015-02-22 06:40] EvilTrev commented on #197
I'm having some issues as well, everything built correctly up to this stage... but I'm seeing these errors:

owr_require_symbols.c:3823:9: error: invalid operands to binary expression
      ('void *' and 'void *')
    ret |= owr_audio_payload_get_type;
[code]

[2015-02-22 07:44] ford-prefect commented on #197
PR #194 should fix that last

[2015-02-22 08:22] sdroege commented on #168
The colorspace conversion workaround is there already, using videoconvert now. So only needs newer GStreamer, and for the initial black frames it needs the fix I'm currently working on in owr: https://github.com/EricssonResearch/openwebrtc/issues/186

[2015-02-22 08:24] sdroege commented on #185
We should carefully review those GStreamer elements though, especially the negotiation parts. Ideally it would look exactly like videoconvert except for the conversion code.

Also as mentioned elsewhere, the ORC changes would automatically also make video scaling, audio conversion and other things a lot faster.

[2015-02-22 08:25] sdroege commented on #186
Yeah, working on that. If nothing else distracts me that should be done Monday or Tuesday :smile:

[2015-02-22 08:29] sdroege commented on #197
Those bits are fixed now, and the missing symbol should be fixed by https://github.com/EricssonResearch/openwebrtc/commit/0d3fcc84ae8622c487a3364dd2157ee145572c38

[2015-02-22 08:41] sdroege commented on #184
Merged into cerbero master, now the owr branch just has to be rebased.

[2015-02-22 10:16] stefanalund commented on #197
Let's reopen if you guys still have problems.

[2015-02-22 10:16] #197 closed

[2015-02-22 15:11] ikonst commented on #196
Posted:
https://bugs.freedesktop.org/show_bug.cgi?id=89278

I'll `#ifdef 0` it myself through recipe patches for the time being.

[2015-02-22 15:53] ijsf commented on #185
I have built a couple of recipes that pull in and compile libyuv. Difficulties are mostly in making a fat universal library for iOS, and linking against libyuv.

There's another issue with libyuv though. I believe that some transformations (e.g. I420 -> RGBA) require a two step conversion due to libyuv using ARGB by default, so that would become I420 -> ARGB -> RGBA and would include the need for

[2015-02-23 02:25] mlakkadshaw commented on #195
I tried on different computer and I was able to build the depenedencies succefully, but when I tried to build openWebrtc, using `./build -Cbr osx` I am getting the following error:

rm peerhandler.js_ bridgeserver.js_
  CC       libopenwebrtc_bridge_la-owr_bridge.lo
  CCLD     libopenwebrtc_bridge.la
ld: warning: could not create compact unwind for _ffi_call_unix64: does not use RBP or RSP based f

[2015-02-23 02:31] EvilTrev commented on #197
I've done a complete update of the dependencies, openwebrtc and rebuilt it all from scratch... I'm seeing this error now:

[code]

[2015-02-23 05:57] superdump commented on #197
It looks like the libnice GStreamer plugin is missing. Can you run:

`V=1 ./build.sh -Cbr osx`

And check if there is a libgstnice.a in your openwebrtc-deps-*/lib directory?

[2015-02-23 06:09] superdump commented on #195
Looks like you're having the same issue as in issue 194.

[2015-02-23 06:11] superdump commented on #195
Sorry, I meant #197

[2015-02-23 08:12] mlakkadshaw commented on #197
@superdump I tried running using `V=1 ./build.sh -Cbr osx`, still same error.
I checked, libgstnice.a is present under lib/gstreamer-1.0/libgstnice.a

[2015-02-23 08:48] EvilTrev commented on #197
I also have that file present.

[2015-02-23 09:15] superdump commented on #197
@mlakkadshaw - Can you paste the output of that `V=1 ./build.sh -Cbr osx` build? It displays more information about the actual commands that are run which will help me with debugging. If libgstnice.a is present in your openwebrtc-deps-*/lib/gstreamer-1.0 directory, it may be that somehow a library search path has gone missing in the build script or something.

[2015-02-23 09:17] superdump commented on #189
We don't currently have a build target for the Raspberry Pi. You can't build using the linux target as that is specifically for x86-64 Linux and not ARM Linux. We will be moving to a new build system soon that does have support for building on the Raspberry Pi. I'll check that build myself soon.

[2015-02-23 09:20] superdump commented on #183
@stefanalund ?

[2015-02-23 09:22] superdump commented on #185
@sdroege @ijsf : another alternative is that someone who knows Orc documents what is needed to be done for building orc statically and then perhaps someone who is interested can do that work and contribute it to GStreamer. Can we do that?

[2015-02-23 09:45] sdroege commented on #185
That's already outlined in the Bugzilla bug I linked above :) "orcc --assembly" outputs static assembler, with --target you can specify the target. Now the problem is that
a) this fails if there is at least one program using something that is not implemented by the target
b) even otherwise there seem to be alignment problems as described in Bugzilla

Ideally we would add a "orcc --static" that out

[2015-02-23 09:46] sdroege commented on #185
Oh I linked the Bugzilla bug somewhere else. Well, here: https://bugzilla.gnome.org/show_bug.cgi?id=742843 :smile:

[2015-02-23 09:47] sdroege commented on #197
The libnice problem should be fixed already by https://github.com/EricssonResearch/openwebrtc-build-scripts/commit/9fe9423288aa857de4d8d7827575435b835e5613
Try rebuilding libnice with the latest build scripts

[2015-02-23 09:48] sdroege commented on #195
The libnice problem should already be fixed by https://github.com/EricssonResearch/openwebrtc-build-scripts/commit/9fe9423288aa857de4d8d7827575435b835e5613
Can you try rebuilding libnice with the latest build scripts?

[2015-02-23 11:28] mlakkadshaw commented on #197
I pulled the latest scripts, and rebuild libnice, still getting the same error.
Here is the output of `V=1 ./build.sh -Cbr osx`
https://gist.github.com/mlakkadshaw/5724657eeba90197ed4e

[2015-02-23 18:58] stefanalund commented on #178
Any progress on this one? @sdroege @alessandrod

[2015-02-23 20:39] sdroege commented on #178
@alessandrod is looking into it and AFAIU the scaling problem is gone, there's just something weird still with orientation changes that might also be a problem in the app

[2015-02-23 20:59] stefanalund commented on #178
That's another issue: https://github.com/EricssonResearch/openwebrtc/issues/150 😏

[2015-02-24 00:15] ijsf commented on #186
Can confirm this bug on iPad Mini 1, with current master. Additionally, I get occasional seconds of black video after a while. Performance is currently extremely slow and OpenWebRTC may be dropping frames of some kind.

[2015-02-24 02:10] dataliven opened #198 "Binary releases"
Hi there,

I just want to evaluate the solution by building a simple mobile App, but have to build the openwebrtc.jar and openwebrtc_bridge.jar from scratch. Would you please release the built library for IOS and Android so we can have a quick start?

[2015-02-24 03:33] alessandrod commented on #178
I just pushed a commit to gst-plugins-bad master that fixes this issue. Rotation (#150) is still a problem.

[2015-02-24 03:33] alessandrod commented on #178
commit 2a430872edeb7082fea2c00c92a0330a4ee5245b
Author: Alessandro Decina <alessandro.d@gmail.com>
Date:   Tue Feb 24 14:23:49 2015 +1100

    libgstgl: eagl: handle CALayer resize

[2015-02-24 03:33] #178 closed

[2015-02-24 04:38] ikonst opened #199 "Use CCCrypt for hardware accelerated SRTP on iOS"
Apparently some iOS devices have hardware accelerated AES and SHA-1:
http://stackoverflow.com/questions/4812474/does-iphone-support-hardware-accelerated-aes-encryption

The API is:
https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man3/CCCrypt.3cc.html

This can be interesting for energy efficiency.
The implementation should probably be in libsrtp, by implementing cus

[2015-02-24 06:32] superdump commented on #199
I think OpenSSL has such support too. Can libsrtp be built against that? Also, we had problems using system OpenSSL just because of bugs in hardware accelerated crypto previously.

[2015-02-24 06:55] superdump commented on #186
Does iPad Mini 1 support hardware H264? Are you using H264 or VP8? What is the other client? Currently if there is packet loss, a new key frame will be requested from the other side, packets will be thrown away until the full keyframe arrives and we can display completely good frames again. We need to test the error concealment capabilities of vtdec and openh264dec. I have a feeling that some of t

[2015-02-24 07:34] superdump commented on #189
Closing as we don't support building on the Raspberry Pi using our build scripts.

[2015-02-24 07:34] #189 closed

[2015-02-24 07:35] superdump commented on #190
@santokum Have you managed to update git on an x86 (Intel / AMD) Linux machine and try again?

[2015-02-24 07:46] stefanalund opened #200 "[Cerbero] Error building last step: openwebrtc"
Updated to latest Cerbero and ran: `./cerbero-uninstalled -c config/cross-ios-universal.cbc package openwebrtc`:

[code]

[2015-02-24 07:57] superdump commented on #187
Have you had any luck with this issue? It looks like a GObject Introspection issue and we don't use any soup API through introspection so if you like you can edit the `build-libsoup.sh` script to add `--disable-introspection` to the `autogen.sh` parameters, say after `--disable-shared`

[2015-02-24 08:22] stefanalund commented on #186
Only devices with A7 chip (iPhone 5s and newer) can run H.264 in HW. The iPad Mini 1 is a quite slow device since it was using one year old CPU when released (same HW specs as iPad 2). If we can get OpenWebRTC running nicely on it we have well performing framework 😃

[2015-02-24 08:34] superdump commented on #186
I believe we can, it's just a matter of time. :smile:

[2015-02-24 08:36] sdroege commented on #199
Changing libsrtp to use crypto functions from openssl/gnutls should be the best way forward here, yes. It reduces code duplication.

[2015-02-24 08:42] sdroege commented on #186
RTX only helps when losing any packet after the first received one, so doesn't really help here :smile:

Can we keep this ticket clean from other issues than the one mentioned at the very beginning? If we start to track random related or not related issues in the same ticket, things become confusing and problems can get lost.

[2015-02-24 08:56] superdump commented on #199
It's unclear whether OpenSSL supports hardware AES on iOS.

[2015-02-24 09:21] stefanalund commented on #198
We are aware of the pains involved, and are looking in to a solution for this. But for now you will need to build OpenWebRTC yourself.

[2015-02-24 09:40] santokum commented on #190
Hi, not yet- i will give it a go this thu again. thanks
--------------------------------------------
On Tue, 24/2/15, Robert Swain <notifications@github.com> wrote:

 Subject: Re: [openwebrtc]  build-libffi.sh invalid git option (#190)
 To: "EricssonResearch/openwebrtc" <openwebrtc@noreply.github.com>
 Cc: "santokum" <santoshjram@yahoo.co.uk>
 Date: Tuesday, 24 February, 2015, 7:35

 @santokum Hav

[2015-02-24 13:54] ikonst commented on #199
I don't see any indication online of neither OpenSSL nor GnuTLS support for Apple's CCCrypt. Grepping the code for CCCrypt finds nothing.

BTW, I'm not saying we should do it right away, as it's potentially complicated and security-sensitive. I'm just opening a task.

[2015-02-24 14:04] mlakkadshaw commented on #157
Hi,
 I am on iPad 2 and I am getting this error:

==== Warning message start ====
Warning in element audio-source.
Warning: Can't record audio fast enough
Debugging info: /Users/User/openwebrtc/scripts/dependencies/gst-plugins-base/gst-libs/gst/audio/gstaudiobasesrc.c(866): GstFlowReturn gst_audio_base_src_create(GstBaseSrc *, guint64, guint, GstBuffer **) (): /GstPipeline:local-audio-capture-sour

[2015-02-24 14:05] mlakkadshaw commented on #195
Deleting everything and rebuilding for scratch solved the problem.
Thanks

[2015-02-24 14:13] #195 closed

[2015-02-24 18:29] stefanalund commented on #157
I think @sdroege fixes this warning, right?

[2015-02-24 18:37] sdroege commented on #157
Maybe this one comes from elsewhere. I would need to see a backtrace with G_DEBUG=fatal_warnings to know

[2015-02-24 20:14] stefanalund commented on #183
Not sure what we are looking for here. If I enable G_DEBUG=fatal_warnings I get a SIGTRAP, where:

[code]

[2015-02-24 21:35] superdump commented on #183
Try continuing past the SIGTRAP with `c` and then enter. I think G_DEBUG=fatal-warnings should trigger a SIGABRT but I'm not certain at this moment.

[2015-02-24 21:41] sdroege commented on #183
Thanks, that probably tells me later all I need to know :)

[2015-02-24 21:42] sdroege commented on #183
It triggers a trap like this on osx and iOS when running in a debugger. Outside it triggers abort

[2015-02-24 23:13] francus87 commented on #171
The dx binary's path is ~/.openwebrtc/bin and i haven't set DX enviroment variable.

I have copied  to $dx_path/../../ SDK directories that script is serching and i think resolve it. The script don't stop in the same line.

is this solution ok? or have i do other thing??

But then other error happens:

/home/francus/.openwebrtc/bin/dx --dex --output=classes_dex.jar src
dx: can't find dx.jar
make[3

[2015-02-25 02:34] ikonst commented on #196
https://bugs.freedesktop.org/show_bug.cgi?id=89278 makes me sad.

Maybe we can just call `nice_debug_disable` first thing, then people can call `nice_debug_enable` when they actually need tracing? This is an effective way to not-vprintf.

[2015-02-25 05:31] superdump commented on #183
Ah interesting. Ignore what I said then. :smile:

[2015-02-25 05:40] superdump commented on #196
I actually meant just throw in a patch locally into our build (cerbero recipe in @nirbheek's openwebrtc branch of his cerbero repo) so that we ignore just that debug output.

I think I prefer my suggestion purely for debug output purposes. It's never fun to have someone running an application, trying to debug it only to find out there's no debug logging present for you to enable. Your suggestion w

[2015-02-25 05:58] nirbheek commented on #196
I agree with @superdump here. Just patching out that line in a patch with a link to the FDO bug should suffice for now. It seems that Olivier wants to fix this bug properly by moving from nice_debug to g_debug, so this issue will be solved properly in a later release. We should just make sure to continue following up on the FDO bug. :)

[2015-02-25 08:14] sdroege commented on #183
That's btw why you can continue at all in a debugger when a warning happens. If it was always an abort, that wouldn't be possible. Confused me for a while

[2015-02-25 08:18] sdroege commented on #183
@stefanalund was there something output on the terminal before the trap? That backtrace looks like it's a different problem, coming from somewhere inside AVFoundation.

[2015-02-25 12:13] sdroege commented on #186
I basically have it working btw, but for some reason the nice agent does not always tell me that it's ready

[2015-02-25 13:43] sdroege commented on #186
↑ there is an implementation for all this now. But I think libnice is currently too broken to implement this as it doesn't always tell us when the agent's component is set up and a pair was selected.

[2015-02-25 14:04] ikonst commented on #196
Will g_debug solve it by being very lightweight when the debugging output is disabled? (I'm not sure I understood that.)

What I suggested, this time around, is not to rebuild without debugging messages, but rather to call `nice_debug_disable` (a runtime function).

[2015-02-25 20:31] stefanalund commented on #183
Only this:

[code]

[2015-02-25 20:33] stefanalund commented on #183
And yes @superdump, I can continue.

[2015-02-25 20:44] EvilTrev commented on #197
I just deleted everything, pulled it all again and rebuilt from scratch... I'm still not able to get past this issue:

[code]

Any thoughts?

[2015-02-25 22:51] sdroege commented on #183
Weird, it seems like the trap is delayed for some time then and does not happen immediately. Not very useful for debugging, but enough for us... at least we know that it's in avfvideosrc. I'll try to look again to find where this can possibly go wrong tomorrow :smile:

[2015-02-26 08:32] superdump commented on #197
[code]

[2015-02-26 16:28] sdroege commented on #183
According to the line numbers this is the version without my fix. I fixed it in 84ab11afdbfd87bf1aa916cc7803163536513339 (of gst-plugins-bad) and the version before that had exactly the line numbers from the backtrace.

[2015-02-26 16:28] #183 closed

[2015-02-26 17:36] #184 closed

[2015-02-27 01:41] ksenks opened #202 "Failed to build openwebrtc on os x"
The boostrapping and building dependences stages finished well, but the building stage failed:

./build.sh -Cbr osx

 CC       libopenwebrtc_bridge_la-owr_bridge.lo
  CCLD     libopenwebrtc_bridge.la
ld: warning: could not create compact unwind for _ffi_call_unix64: does not use RBP or RSP based frame
  CC       daemon.o
  CCLD     openwebrtc-daemon
ld: warning: could not create compact unwind for

[2015-02-27 02:33] tang85718 commented on #202
me too

[2015-02-27 07:36] j0sh commented on #202
Happening here as well.

[2015-02-27 07:50] sdroege commented on #202
This should've been fixed with https://github.com/EricssonResearch/openwebrtc-build-scripts/commit/9fe9423288aa857de4d8d7827575435b835e5613 and now with https://github.com/EricssonResearch/openwebrtc/commit/e3cb813a8b56da712e551625d765c2c7ac47483c should also be inside the scripts submodule finally.

You need to rebuild libnice for this to work.

[2015-02-27 07:50] #202 closed

[2015-02-27 08:22] j0sh commented on #202
Doesn't seem to have worked, still failing with the same error.

Removed all instances of libnice.a, updated webrtc and scripts to current tip, then rebuilt libnice, with --enable-static-plugins appearing in config.log as expected. No dice.

[2015-02-27 09:14] sdroege commented on #202
Did you deploy the dependencies again after rebuilding libnice?

[2015-02-27 17:25] j0sh commented on #202
Yes.

[2015-02-27 17:59] j0sh commented on #202
So, ./deploy_deps.sh only copies an existing tarball from the dependencies dir, it does not create a new one. After re-building libnice, re-run ./create-file-release.sh, then run ./deploy-deps. From there, OWR seems to compile OK.

[2015-02-27 22:00] ksenks commented on #202
I re-builded all the things from the scratch and still got the same error.

[2015-02-28 03:11] ijsf opened #205 "submodules_patches support for Cerbero"
My recent patches for orc require modification of the common/orc.mak file in all gst* as well as the gstreamer repositories. I thought I would be able to use the Cerbero patches feature here, but unfortunately the "common" subdirectory in each of these repositories is a submodule in itself (linking to the gstreamer-common repository), and thus falls outside of the reach of the "git am" command tha

[2015-02-28 08:25] EvilTrev commented on #197
That got it. Thank you

[2015-02-28 09:07] superdump commented on #205
GStreamer will be interested in the patches so you can just submit them upstream. @sdroege and others working on OpenWebRTC are GStreamer maintainers so they can advise how to proceed.

[2015-02-28 10:16] ijsf commented on #205
Great to hear that.

However, this feature would still be very helpful as it, in this case, the developer won't have to fork all gst*, gstreamer and gstreamer-common repositories locally, change all submodules, and change all recipes, but could just leverage the Cerbero system instead.

[2015-02-28 11:47] ijsf commented on #205
Problem for now seems to have been worked around by patching the Makefiles.

[2015-02-28 12:29] superdump commented on #205
The workaround sounds good for now to get things working. :smile:

[2015-02-28 13:45] mlakkadshaw commented on #157
Hi,
 Here is the stack trace, I set the Environment Variable G_DEBUG=fatal_warnings in Xcode but it is not pausing automatically.

* thread #1: tid = 0x62460, 0x3a233518 libsystem_kernel.dylib`mach_msg_trap + 20, queue = 'com.apple.main-thread', stop reason = signal SIGSTOP
  * frame #0: 0x3a233518 libsystem_kernel.dylib`mach_msg_trap + 20
    frame #1: 0x3a233310 libsystem_kernel.dylib`mach_msg +

[2015-02-28 23:50] msmollin opened #206 "Have bootstrap.sh use Xcode path presented by xcode-select"
I noticed an issue since I'm running solely Xcode 6.2 beta 5 (issues in Xcode 6.1 with security holes in git forced me to update). The application, and thus folder, is "/Applications/Xcode-Beta.app/Contents/Developer" whereas it looks like there's a hardcoded path in bootstrap.sh to "/Applications/Xcode.app/Contents/Developer" for the OS X SDK. The utility called xcode-select will print out the pa

[2015-03-02 06:41] michael-tourneur opened #207 "Build error - Repo Glib lib, gnome-common, gobject-introspection unavailable"
i downloaded the lastest source code of openwebrtc with dependencies but when i build i get error.
Seems those repo are dead.

file build-glib.sh change line 25
git clone git://anongit.freedesktop.org/gstreamer-sdk/glib
by
git clone https://github.com/GNOME/glib.git

and

file build-gnome-common.sh line 25
git clone git://git.gnome.org/gnome-common
by
git clone https://git.gnome.org/browse/gnome-c

[2015-03-02 09:07] sdroege commented on #205
Patching Makefiles is not going to work, autoreconf/autogen.sh is going to overwrite those changes. Same for Makefile.in. Only Makefile.am should be patched, but those don't contain the content of the common submodule (automake injects them into the Makefile.in).

[2015-03-02 09:09] sdroege commented on #207
Those repositories are slightly different and contain different versions. The problem you had must've been a transient problem with the freedesktop.org GIT servers, they are running again now at least.

[2015-03-02 09:09] #207 closed

[2015-03-02 09:12] sdroege commented on #157
That looks like a separate problem. What's the terminal output before it goes into SIGTRAP? Seems to be related to audio input or output in your case.

[2015-03-02 10:51] frozeus commented on #172
I'm trying to do the same for Opus encoding the pipeline looks like successfully created but nothing works.
@ford-prefect : interapp works for audio too ?

Source Pipeline
![source](https://cloud.githubusercontent.com/assets/1859302/6439358/465d3fe4-c0d2-11e4-8551-db849d3732b5.png)
Transport Pipeline
![transport](https://cloud.githubusercontent.com/assets/1859302/6439359/4a259ab8-c0d2-11e4-9500-69

[2015-03-02 10:59] ford-prefect commented on #172
Yes, I've tested with Opus and Vorbis, and it did work (the gstinterapptest in the gst-plugin-bad/gst/inter repo tests audio). It looks like the buffers are going into interappsink but not coming out interappsrc.

Could you run with GST_DEBUG=default:5 and see if there are messages from gstintersurface.c that suggest what's going on?

One possibility is that the keyframe buffers are not marked app

[2015-03-02 11:34] ijsf commented on #205
Patching the `include $(top_srcdir)/common/orc.mak` line in the Makefile.am files has been working fine so far.

[2015-03-02 11:35] sdroege commented on #205
Ah yes, that works of course :smile:

[2015-03-02 13:41] frozeus commented on #172
Same as h264parse  i add an opusparse.

I have error gstsegment invalid position
[code]

![source](https://cloud.githubusercontent.com/assets/1859302/6441587/9d8c5c98-c0e9-11e4-86ba-dd4a660fef97.png)
![graph](https://cloud.githubusercontent.com/assets/1859302/6441595/a50f21ee-c0e9-11e4-8001-19c1666c5be0.png)

This the function called to push a buffer in my appsrc.
[code]

[2015-03-03 10:18] mlakkadshaw commented on #48
is 64bit working now?

Thanks

[2015-03-03 10:22] superdump commented on #48
I believe so. I am literally building everything from current cerbero as I write in order to test all the example apps. That will include testing apps using 64-bit on an iPhone 6 Plus. We have identified some bits and pieces that will still need further assembly optimisation specifically for ARM64 but there should be C fallback code if absolutely necessary but we're also working to avoid unnecessa

[2015-03-03 10:56] stefanalund commented on #48
There are still problems for apps that want to use the JavaScript bridge, such as Bowser and other hybrid apps: https://github.com/EricssonResearch/openwebrtc/issues/177

[2015-03-03 10:58] stefanalund commented on #162
Could you please try again with the latest master? Update OpenWebRTC: https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC#update-openwebrtc

[2015-03-03 11:59] mlakkadshaw commented on #48
Thanks for the update, sadly my app is a hybrid app which uses javascript bridge, so it will not work in 64bit right?

[2015-03-03 12:03] stefanalund commented on #48
Not yet but it will! We are working on it. Watch the other issue I linked to for progress. In the meantime you can develop using 32-bit only. Look at the sample apps if you're unsure of how the build settings should be set up.

[2015-03-03 12:03] sdroege commented on #48
Most likely not, you can try though, maybe you're lucky and don't run into that specific problem. We're looking into that problem.

[2015-03-03 12:10] stefanalund commented on #186
Wasn't this issue fixed?

[2015-03-03 12:13] stefanalund commented on #198
I'm happy to let you know that we will soon start distributing releases of OpenWebRTC. This will allow you to just add a pre-compiled library to your project without the need to build everything yourself.

Releases will start to be available once we have moved over to our new build system Cerbero: https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC-with-Cerbero

[2015-03-03 12:57] sdroege commented on #186
No, my commits above fix it but uncover a bug in libnice or our integration with libnice that I'm still looking into.

[2015-03-03 14:10] superdump commented on #165
Closing as the patch was merged.

[2015-03-03 14:10] #165 closed

[2015-03-03 14:29] stefanalund commented on #164
Was this fixed?

[2015-03-03 15:20] superdump commented on #164
@stefhak was this only due to the SSL crypto method? If so, I think it's fixed.

[2015-03-03 16:00] superdump commented on #3
This has now landed. OpenWebRTC has Data Channel support!

[2015-03-03 16:00] #3 closed

[2015-03-03 16:12] stefanalund commented on #3
Awesome! I will prepare a new version of Bowser as well.

[2015-03-03 18:15] stefhak commented on #164
Yes, it works now AFAIK.

On Tue, Mar 3, 2015 at 4:20 PM, Robert Swain <notifications@github.com>
wrote:

[2015-03-03 18:16] stefanalund commented on #164
Then we can close this issue, thanks.

[2015-03-03 18:16] #164 closed

[2015-03-03 19:03] ford-prefect commented on #144
Just as a quick status update, with current gst-plugins-base/good master, we no longer do any resampling on a Bowser <-> FF call. Next step is to look at the rest of @ikonst's caps probing work for the next set of improvements.

[2015-03-03 20:15] superdump commented on #144
Excellent!

[2015-03-04 02:59] ikonst commented on #152
The "useless shell" is serving me rather well in iOS, of course, with the hacky Xcode project I described here:
https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC-with-Cerbero#development

My plan is to distribute a hacky Xcode project as a "template", in place of all manual instructions in this terrible wiki section :)

[2015-03-04 04:43] mlakkadshaw commented on #48
Thanks.
Will try building using Cerebro, hopefully it will build. :)

[2015-03-04 10:12] frozeus commented on #172
@ford-prefect Try also with h.264 but same issue, maybe it's comming from my appsrc module. Do you have an idea ?

![source](https://cloud.githubusercontent.com/assets/1859302/6481596/2d6731a0-c25f-11e4-8c7c-a042b6106c4a.png)
![graph](https://cloud.githubusercontent.com/assets/1859302/6481599/34206926-c25f-11e4-89da-ba24600cb571.png)

[2015-03-04 10:23] ford-prefect commented on #172
Could you post the verbose logs for the h.264 case too?

[2015-03-04 10:37] frozeus commented on #172
@ford-prefect Yes, i add some print inside OWR
[code]

[2015-03-04 12:21] nirbheek commented on #196
Mostly by being easy to enable/disable, with varying levels of debugging, and only having the overhead of one strdup() when disabled.

The problem with that is that it disables all debugging messages without a way to enable it at runtime on a device, which seems like throwing the baby out with the bathtub. :) We could just ifdef out that one message for now.

[2015-03-04 18:39] nirbheek commented on #200
This is fixed now, the issue can be closed.

[2015-03-04 19:01] stefanalund commented on #150
Any consensus on how we should solve this?

[2015-03-04 19:23] #200 closed

[2015-03-04 19:29] superdump commented on #150
We may have to try a few things to see what works best. The problem, from my perspective, is that there is no standard way to handle signaling of video orientation in WebRTC. This means it is up to the application.

My default inclination is that we should do what the user expects. I have a proposal for what we should try, but as soon as something feels wrong, I hope we can figure out why and chan

[2015-03-04 21:34] ikonst commented on #150
I just want to ensure that, in the process, we don't physically rotate any
video buffers. Performance and energy efficiency is paramount.

On Wed, Mar 4, 2015 at 9:29 PM, Robert Swain <notifications@github.com>
wrote:

[2015-03-04 21:44] superdump commented on #150
But what if the video has completely the wrong orientation and both your self-view and the video the other side receives are flipped horizontally so that filmed text is backwards and they're rotated 180 degrees from what you expect? And you somehow can't rotate your device to fix it. :smile:

I think we have to evaluate what feels best and what the costs are. Like any engineering problem really, f

[2015-03-04 21:49] ikonst commented on #150
What I mean to say is – let's please make sure we signal the orientation right up to displaying, where rotation is cheap, and avoid rotating actual buffers.

And, having said that, I'll stop giving armchair advice :)

[2015-03-04 22:13] superdump commented on #150
Sure, as much as possible. Was there mirroring support as well as rotation? In any case, we can do all of that cheaply in GL. The real problem is whether any transformations are necessary and whether they can be efficiently done before encoding on iOS. First step on ios - do nothing and see if it feels right.

[2015-03-05 04:22] ford-prefect commented on #172
The segment handling messages might be relevant, which is one of the big missing pieces in the interapp* elements. If you could put up a full GST_DEBUG=5 log somewhere (it will be quite large), I can try to confirm that.

[2015-03-05 06:31] superdump commented on #150
So, it seems I had missed something and there **is** a way to signal rotation/orientation in WebRTC:

Section 4: https://datatracker.ietf.org/doc/draft-ietf-rtcweb-video/

So, we need to know, at least on Android and iOS, which way is up and implement support for the CVO signaling and signaling of CVO in the SDP.

However, if no other WebRTC clients support CVO, we may have to fall back to either

[2015-03-05 07:22] szimek opened #208 "createOffer doesn't match method signature from the spec"
According to the spec in both promise based and legacy versions of `createOffer` method, `RTCOfferOptions` parameter is optional, but I'm getting an error telling me that either first or third argument must be an object.

See http://www.w3.org/TR/2015/WD-webrtc-20150210/#h-interface-definition and http://www.w3.org/TR/2015/WD-webrtc-20150210/#h-legacy-interface-extensions.

[2015-03-05 07:33] szimek commented on #62
I'm not sure if it's related, but I'm trying out data channels in OpenWebRTC and Chrome complains about ICE candidates sent by Safari. Safari sends e.g. something like this:
[code]
and when Chrome tries to add such candidate:
[code]
I'm getting an error: `Failed to execute 'addIceCandidate' on 'RTCPeerConnection': The ICE candidate could not be added.`

[2015-03-05 07:37] sdroege commented on #150
FWIW, we could do rotation before encoding on iOS/OSX (and after some more work on Android) in GL too as we get GL'ish things from the camera and can also pass GL data to the encoder.

Best is of course to just signal the orientation and let the clients doing the displaying do the work. There's probably a reason why even digital cameras usually don't rotate photos but just put the orientation as m

[2015-03-05 10:37] philn opened #209 "owr_init() API update"
- I think it should be possible to invoke owr_init() multiple times without critical warning emission on second call
- I'm not sure to see why owr_init_with_main_context() is useful... Couldn't we have owr_init() use the default main context and assume the application would run a GMainLoop itself? This way we could get rid of owr_run()

[2015-03-05 10:43] sdroege commented on #209
I would prefer a single, idempotent owr_init() too, which would then take the thread default main context for all its stuff. And then get rid of owr_run() and let the app just run a main loop on whatever main context is wants.

The current init API is very confusing

[2015-03-05 11:03] stefanalund commented on #208
@stefhak @adam-be please advise.

[2015-03-05 13:45] frozeus commented on #172
Print a full debug need a lot of cpu/time which is not possible because i have time constraint due to the callbacks of the audio/video encoder. Do you a more restricted GST_DEBUG output that could help ?
I try with GST_DEBUG=inter*:6

That's the output :
[code]

[2015-03-05 14:21] superdump commented on #172
If you write it to a file instead of the terminal it should be better performance and have less impact.

[2015-03-05 14:27] philn opened #210 "Build fails against gstreamer 1.4.5"
Due to missing gst_debug_bin_to_dot_data symbol.

[2015-03-05 14:38] frozeus commented on #172
@superdump Thanks
Here is the log
https://gist.githubusercontent.com/frozeus/d85408cc38081aa35410/raw/gst_debug=5

[2015-03-05 14:40] philn commented on #210
And gst_caps_foreach()

[2015-03-05 15:28] szimek opened #211 "Generated ICE candidates are not accepted by Chrome"
I'm trying out data channels in OpenWebRTC and Chrome complains about ICE candidates sent by Safari. Safari sends e.g. something like this:

`"candidate:2 1 TCP 1019216383 fe80::4a0:1bff:fe63:21f7 9 typ host tcptype active"`

and when Chrome tries to add such candidate:
[code]
I'm getting an error: `Failed to execute 'addIceCandidate' on 'RTCPeerConnection': The ICE candidate could not be added.`

[2015-03-05 15:30] superdump commented on #211
Does Chrome support IPv6 candidates?

[2015-03-05 15:38] szimek commented on #211
I have no idea, but it's possible that that's what causing this issue. Is it possible to somehow disable IPv6? I'll create a new issue for the Firefox error.

[2015-03-05 16:42] KerwinMa commented on #97
Thank you @vgottardi . I did the same and I don't have the issue now.
 export PLATFORM_GSTREAMER_LIBS="-lgstvideoconvert -lgstpulse -lgstvideo4linux2 -lX11 -lXv -lgstallocators-1.0 -lGLU -lGL -lEGL -lm"
But I have another issue, which happens on Mac(#29) as well:
configure: error: in `/home/kerwin/Documents/openwebrtc/build/arm-linux-androideabi':
configure: error: C compiler cannot create executa

[2015-03-05 17:10] zevarito opened #213 "App wrapping a hosted-app-url could get approved by the AppStore?"
Hi, I am just playing with this (didn't finish the build yet) and have a few concerns about app publication.

If I create a new IOS app based on OpenWebRtc and it just point to an URL outside like the example, it cold get approved? AppStore doesn't complain about it just being a wrap to an URL instead a local application?

Thanks!

[2015-03-05 18:05] stefanalund commented on #213
Obviously we cannot make any guarantees that Apple will approve your application, but by using OpenWebRTC and integrating it in your application you have added value outside a simple web view app that just wraps a web app. Apple's UIWebView does not have WebRTC until you integrate with OpenWebRTC.

[2015-03-05 18:05] #213 closed

[2015-03-05 18:11] stefanalund commented on #211
According to release notes for Chrome 42, IPv6 is now turned on by default. Which version are you testing with?

[2015-03-05 19:43] szimek commented on #211
I was testing it using the latest beta version (41.0.2272.74 beta (64-bit)), but I've just tried it in the latest canary (43.0.2323.0 canary (64-bit)) and I'm getting the same error there.

[2015-03-06 06:34] stefanalund opened #214 "Make test_client.c support initiation"
At the moment, the simple test_client does not support call initiations. As per @superdump's suggestion it would be nice to control this from the command line.

[2015-03-06 07:06] aamirkhan24 commented on #3
Can you please provide datachannel example for iOS like this
https://github.com/EricssonResearch/openwebrtc-examples/tree/master/ios

[2015-03-06 07:26] stefanalund commented on #3
@aamirkhan24 I created an Issue to keep track of this request: https://github.com/EricssonResearch/openwebrtc-examples/issues/58

[2015-03-06 08:32] stefhak commented on #208
I've been using this with Promises for some time now. My code looks like:
    pc.onnegotiationneeded = function () {
        log("in onnegotiationneeded");
        // check signaling state here because Chrome dispatches negotiationeeded during negotiation
        if (pc.signalingState == "stable")
            pc.createOffer().then(localDescCreated).catch(logError);
    };
and seems to work. Is the

[2015-03-06 08:52] szimek commented on #208
@stefhak I figured out what's wrong. peer.js library passes `connection.options.constraints ` as the third argument, but it may be `undefined`. OpenWebRTC does an explicit check if the first or third argument is an object if it's present: https://github.com/EricssonResearch/openwebrtc/blob/9673b77a0bfe743a6a76a3853984533e2a081cf8/bridge/client/webrtc.js#L442-L452

It works fine in Chrome and Firef

[2015-03-06 09:10] stefhak commented on #208
Thanks, we'd need to discuss if we need to do anything. The third (legacy API) or first (Promise API) argument must be an object according to the spec, but perhaps it is inconvenient to not accept undefined.

[2015-03-06 09:44] stefhak commented on #208
I tested a bit more, it seems that while FF (Nightly) accepts an undefined options argument, e.g. a string is not accepted. Error message:
"TypeError: Argument 1 of mozRTCPeerConnection.createOffer can't be converted to a dictionary."

[2015-03-06 10:01] stefhak commented on #208
One more update: seems we should change: Object, Null and Undefined should be allowed, see http://heycam.github.io/webidl/#es-dictionary

[2015-03-06 11:23] Nemtes opened #215 "build error on osx for android"
I'm trying to build openwebrtc for android on osx 10.10.

I saw that api.opensuse.org is down. So does anyone know a source for lib-networking-fix-no-cert-bundles.patch ?

[2015-03-06 11:37] #215 closed

[2015-03-06 11:37] zevarito commented on #213
Thanks!

On Thursday, March 5, 2015, Stefan Ålund <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-03-06 15:26] #210 closed

[2015-03-06 15:59] ignacioavellino opened #217 "Streaming other sources other than the webcam: OpenCV"
Hi!

This is just a placeholder in case anyone can enlighten me on sending media other than the webcam, ideally from frames processed using OpenCV

My guess is that I do not stand alone on this. Sometimes we want to process the webcam image using OpenCV before sending it, so after I have my nice Mat frames in my while loop, I don't know how to plug them to OpenWebRTC in order to send them

Any hel

[2015-03-06 16:37] superdump commented on #217
What memory is used to store your OpenCV frames? System memory or graphics memory or something else?

[2015-03-07 20:16] quicklyfrozen commented on #211
Note that the ICE-TCP RFC calls for a port number of 9 for an active TCP candidate (I guess 9 indicates not specified).  Chrome, however, doesn't follow the RFC and uses port number 0 instead (you can see this from the number after the IP in these candidates).  Perhaps when Chrome is accepting candidates it rejects candidates with port 9 (i.e. it's looking for 0 or >1024).

[2015-03-07 21:45] stefanalund commented on #211
Have you filed a bug report on Chrome?

[2015-03-08 11:21] superdump commented on #4
cerbero creates frameworks for OS X and iOS. Closing.

[2015-03-08 11:21] #4 closed

[2015-03-08 11:22] superdump commented on #9
Do you still experience this issue? We will be moving to a new build system imminently.

[2015-03-08 11:23] superdump commented on #47
@sdroege do you still see this issue? Do we need to make changes in rtpsession to throttle the frequency of PLI?

[2015-03-08 11:25] superdump commented on #48
There was a crash bug in JavaScriptCore on 64-bit that is fixed by updating libffi. However, updating libffi breaks the libffi build for 32-bit arm, at least for iOS.

[2015-03-08 11:26] superdump commented on #59
Maybe it's nicer to do this once we have binary package releases? Perhaps the framework itself can be hosted somewhere so that a cocoapod could just download that?

[2015-03-08 11:27] superdump commented on #61
Any response about this problem? Lots of updates have happened since the issue was posted.

[2015-03-08 11:29] superdump commented on #64
Please retest with current master code and reopen the ticket if it still happens.

[2015-03-08 11:29] #64 closed

[2015-03-08 11:30] superdump commented on #9
Please retest the build with current master and reopen the issue if it still occurs.

[2015-03-08 11:30] #9 closed

[2015-03-08 11:31] superdump commented on #67
Please retest with current master and reopen if the issue still occurs.

[2015-03-08 11:31] #67 closed

[2015-03-08 11:32] superdump commented on #76
I have not seen any issues with icu downloading in months. Closing.

[2015-03-08 11:32] #76 closed

[2015-03-08 11:32] superdump commented on #82
@stefhak did you implement this in your browser extension updates?

[2015-03-08 11:33] superdump commented on #96
@alessandrod - ping?

[2015-03-08 11:35] superdump commented on #97
@sdroege - so what packages do we need to add to bootstrap for GLX? And then we need to add --disable-egl and remove all EGL references for Linux targets from the build scripts. Right? Is this all correct in cerbero? If so, I guess we don't need to spend time on this.

[2015-03-08 11:36] superdump commented on #106
We need to thoroughly fix this when we start doing releases.

[2015-03-08 11:39] superdump commented on #107
I have a plan to create a custom GStreamer media source and media renderer that has a property on which you can set a GstElement. The GstElement will have to behave in a particular way and its state should be managed by the media source/renderer object, but you can set properties and whatnot on it.

[2015-03-08 11:41] superdump commented on #126
@Rugvip any response?

[2015-03-08 11:45] superdump commented on #134
@agouaillard any news?

We are working on automated builds to check that everything builds successfully all the time and we are moving to the cerbero build system. After that I expect we can close this issue. We are also looking to make releases and make binary downloads of the releases.

[2015-03-08 11:45] superdump commented on #136
@ikonst You're welcome to fix this. :)

[2015-03-08 11:46] superdump commented on #137
Personally I like to have debug symbols always, but then I'm a developer. Can cerbero do release builds as well that are stripped?

[2015-03-08 11:47] superdump commented on #139
Do you still see this issue?

[2015-03-08 11:49] superdump opened #218 "Split libopenwebrtc library into libopenwebrtc and libopenwebrtc-bridge"
People using only the native API should not have to build / include all of the dependencies for the bridge API as well.

[2015-03-08 11:50] superdump opened #219 "Add error handling into the API"
Whenever errors occur, they should be propagated up to the application somehow so that useful and informative messages can be shown in debug logs or even to the user of an application that explain what went wrong.

[2015-03-08 11:53] superdump opened #220 "Improve debug output"
Debugging what went wrong in OpenWebRTC is currently pretty difficult and requires quite a bit of knowledge of OpenWebRTC and/or GStreamer and/or WebRTC.

OpenWebRTC needs:
* Debug categories specific to the various objects and components involved in a WebRTC session
* Debug log output specific to all of the higher-level important stages of a WebRTC session life cycle

Just those two should enable

[2015-03-08 11:55] superdump commented on #142
We still need a patch against the build scripts but when we move to cerbero, this can be closed.

[2015-03-08 11:58] superdump commented on #144
@ikonst any news on https://bugzilla.gnome.org/show_bug.cgi?id=743758 ?

[2015-03-08 11:59] sdroege commented on #97
For GLX you also just need mesa, nothing special. Yes to everything else, except cerbero (I don't know).

[2015-03-08 12:00] superdump commented on #147
@stefanalund has now got some code working in iOS that parses the SDP using sdp.js and a JSContext and then gives an NSDictionary back. I expect similar things can be done on other platforms, the main issue is what to do in native C/GObject code.

[2015-03-08 12:02] sdroege commented on #47
I'll have to check, that's next on my list after the libnice issues. There are also some other issues left to be solved in rtpbin

[2015-03-08 12:03] superdump commented on #154
That ticket was closed and the change was pushed into GStreamer. Does that mean that this issue is now closed or is something more needed for osxaudio supporting reconfiguration?

[2015-03-08 12:04] superdump commented on #155
@sdroege ping?

[2015-03-08 12:06] superdump commented on #97
This issue is also noted in https://github.com/EricssonResearch/openwebrtc/issues/158

[2015-03-08 12:06] superdump commented on #158
This issue is also noted in https://github.com/EricssonResearch/openwebrtc/issues/97

[2015-03-08 12:11] sdroege commented on #154
That specific issue is solved, yes. There are some more pending changes for osxaudio though.

[2015-03-08 12:11] #154 closed

[2015-03-08 12:19] superdump commented on #218
Duplicate of issue #159

[2015-03-08 12:19] #218 closed

[2015-03-08 12:20] superdump commented on #161
@Rugvip @nirbheek is this fixed now?

[2015-03-08 12:20] superdump commented on #162
@voznesenskym have you had time to try again?

[2015-03-08 12:22] superdump commented on #171
As far as I recall, the path to `dx`is important to identify as other tools are also found in that directory. You need to set up your `PATH` environment variable to point out where `dx` is in your Android SDK.

[2015-03-08 12:29] superdump opened #221 "Custom GStreamer media source and renderer in libopenwebrtc-gst library"
Given the vast number of GStreamer audio/video source/sink elements, it is not feasible and does not seem sensible to require implementation of them all in OpenWebRTC, nor for people to maintain a fork of OpenWebRTC to do so for their element.

At the same time, it is not desirable to have to ship all GStreamer API in our releases for people who are not interested in it.

I propose that we impleme

[2015-03-08 12:41] sdroege commented on #221
Sounds good to me. What special behaviour requirements do you have in mind for the sources/sinks? Shouldn't just any work that behaves like a normal GStreamer sink/source?

[2015-03-08 12:43] superdump opened #222 "Use cerbero as the official build system"
cerbero is the build system used by GStreamer and GStreamer is our primary dependency. It makes sense to share the same build system. cerbero also brings some shiny benefits:

* Rebuild only the dependencies that need rebuilding when updating
* Paralellised builds for faster build times
* More mature and tested
* More people maintaining the same code on more platforms / machines
* 64-bit arm suppo

[2015-03-08 13:07] ikonst commented on #144
We had the Purim holiday this weekend which really took all my attention.
:) I hope to work on it today.
On Mar 8, 2015 1:58 PM, "Robert Swain" <notifications@github.com> wrote:

[2015-03-08 13:57] stefanalund commented on #96
IIRC @sdroege said it was fixed in a later GStreamer.

[2015-03-08 14:11] stefanalund commented on #59
I also think that the pod should include helper classes rather than the OpenWebRTC.framework (which may be quite large). From what I understand pods typically only contain source files.

Anyway, I'm working on this right now.

[2015-03-08 14:23] superdump commented on #59
Ah, so you would have the framework separately and then helper classes in the cocoapod?

[2015-03-08 16:04] superdump commented on #221
I was thinking mostly of caps and what will be handled by owr / by the element/application. I haven't thought through the smaller details yet so it's more an idea. Maybe it will be quite generic and there won't really be requirements. :)

[2015-03-09 06:50] stefanalund commented on #59
Yes, that is my current thinking. But it would be nice to also somehow automatically get OpenWebRTC.framework installed through CocoaPods. Not sure how to do that yet.

[2015-03-09 07:51] stefanalund commented on #59
It may be possible to include the .framework after all: https://github.com/rivera-ernesto/CocoaPods-Specs/blob/master/NewRelicAgent/1.328.0/NewRelicAgent.podspec

[2015-03-09 07:51] philn commented on #221
Sounds good to me as well :)

[2015-03-09 07:55] superdump commented on #59
That's what I was thinking - publish a tarball or zip of the framework itself if possible. Then download and extract it as part of the pod. Though it's not really that difficult to download and install it from a dmg/pkg installer...

[2015-03-09 08:07] richardmitic commented on #217
OpenCV stores frames in system memory by default. There are options for hardware acceleration but they're not used so much.

[2015-03-09 08:09] sdroege commented on #217
This could be relatively simple solved by https://github.com/EricssonResearch/openwebrtc/issues/221 and using e.g. an appsrc.

Alternatively it might also make sense to have appsrc/appsink-style MediaSources/Renderers, where application can pass in data directly or get data from a callback.

[2015-03-09 08:18] sdroege commented on #96
Not this bug, no.

[2015-03-09 08:20] sdroege commented on #222
What's left to be done for this?

Currently pending issues I'm aware of are:
- it either fails on ios/arm64 (with old libffi) at runtime, or fails to build on ios/arm (with new libffi)
- Android packaging is not finished yet

[2015-03-09 08:21] sdroege commented on #147
What's missing in libgstsdp that would be required or useful here?

[2015-03-09 08:28] sdroege commented on #139
I don't think that was fixed. It's also something in the pulseaudio related code, so wouldn't happen elsewhere than on Linux.

[2015-03-09 08:29] sdroege commented on #137
I think currently it can't, but adding that as a post-build step shouldn't be too hard.

[2015-03-09 08:30] sdroege commented on #107
https://github.com/EricssonResearch/openwebrtc/issues/221

[2015-03-09 08:33] sdroege opened #223 "Use GstDeviceMonitor instead of custom probing code"
Will require moving some of the custom probing code into the GStreamer plugins

[2015-03-09 08:36] sdroege commented on #209
Duplicate of https://github.com/EricssonResearch/openwebrtc/issues/143

[2015-03-09 08:36] #209 closed

[2015-03-09 08:39] sdroege commented on #143
I think there should just be an owr_init() that uses the current thread default main context (or the default one otherwise). And the current dance with the thread and running a custom mainloop there and stuff should be inside the application, or become a owr_init_and_run_in_background() around the new owr_init().

[2015-03-09 08:40] sdroege commented on #143
@superdump ?

[2015-03-09 08:50] ignacioavellino commented on #217
Hey,

@superdump , frames are stored on memory as @richardmitic pointed out
@sdroege , I'm not an expert in this subject, but your alternative sounds good, having a callback where the application can pass data

[2015-03-09 09:01] frozeus commented on #222
Would there be a possibility, to disable python bindings and the building of tests. This could avoid to build lot of dependencies not required by the libopenwebrtc.

#159

[2015-03-09 09:05] frozeus commented on #221
And i think that could also help to support compressed media source as well no ?

[2015-03-09 09:16] sdroege commented on #221
Not much as that mostly requires changes inside the other parts of openwebrtc

[2015-03-09 09:42] frozeus commented on #221
Yes, of course just that set/access to the caps of the src would help instead of trying to deduct them after.

[2015-03-09 09:46] richardmitic commented on #217
@ignacioavellino, bear in the mid that in OpenCV the pixel data is not necessarily contiguous in memory. In your app you'd have to either assure that it is contiguous or possibly work some gst_buffer magic to avoid expensive copy operations. It should work though. :)

[2015-03-09 09:52] frozeus opened #224 "Support Audio/Video compressed source"
OpenWebRTC should be able to use compressed source H264/VP8 for video src and PCMA/PCMU/Opus for audio src and try to negociate to use this codec as default to avoid a recoding/resampling.

There is already a small discussion about #172

[2015-03-09 10:12] philn commented on #139
Yep it still happens, on Linux indeed. Haven't tested on other platforms.

[2015-03-09 10:30] ford-prefect commented on #222
One more todo item for this:

* Update examples to use the Cerbero-generated framework

[2015-03-09 12:51] superdump commented on #222
@frozeus: GObject Introspection is for Python and JavaScript bindings. So it is needed for the JavaScript bridge code and generally otherwise if people want bindings. We can make this optional as a separate issue.

My definition of done is basically that it builds for all platforms, the tests, examples and openwebrtc-daemon for each platform work as expected (or at least do not regress from the bu

[2015-03-09 13:02] superdump commented on #147
We would have to check. It's a possibility...

[2015-03-09 13:04] sdroege commented on #177
Problem here is that this version of libffi fails to build on iOS/ARM (not 64 bit). See https://github.com/atgreen/libffi/issues/181

[2015-03-09 13:04] superdump commented on #222
Also Android build results are not fully working yet afaik. @rugvip and @nirbheek are working on that

[2015-03-09 13:46] ikonst opened #225 "owr_transport_agent_new must called called on OWR thread"
`g_main_context_push_thread_default` is called in:

    frame #0: owr_transport_agent_init(transport_agent=0x00000001038cac70) + 412 at owr_transport_agent.c:303
    frame #1: g_type_create_instance(type=<unavailable>) + 292 at gtype.c:1865
    frame #2: g_object_new_internal(class=0x0000000170115f00, params=0x000000016fd95cc8, n_params=1) + 72 at gobject.c:1774
    frame #3: g_object_new_valist(o

[2015-03-09 13:46] ikonst commented on #143
OK, not sure about `owr_media_session_new`, but here's one:
https://github.com/EricssonResearch/openwebrtc/issues/225

[2015-03-09 13:47] frozeus commented on #222
@superdump My issue is more with webkitgtk-3.0 which requires GTK, etc... and for the example is just that they require libsoup and json-glib.

[2015-03-09 13:49] superdump commented on #143
I'll figure out what this should be, taking into account suggestions, soon. It will be done before the first release at least. :)

[2015-03-09 13:51] superdump commented on #222
We don't ever build GTK afaik. But there is a separate issue about splitting out the bridge to avoid building JavaScriptCore from webkitgtk. This issue is about moving to cerbero and getting all of that working.

[2015-03-09 13:55] nirbheek commented on #222
We indeed don't build GTK+; neither in the owrtc build scripts nor with Cerbero. JavaScriptCore only depends on GLib and ICU. The OpenWebRTC tests do pull in libsoup and json-glib, and it should be possible to make those optional.

[2015-03-09 14:05] nirbheek commented on #161
Not yet; I became blocked by breakage in the bindings due to the DataChannel changes: https://github.com/EricssonResearch/openwebrtc/pull/226. I think I've figured out the gnustl problem though, and will have a fix soon.

[2015-03-09 14:34] ford-prefect commented on #155
I'm looking at this in parallel with the OS X patches.

[2015-03-09 15:18] VenkataPraneethT commented on #97
Hi,

I have done fresh build for openwebrtc in linux and used all the above mentioned suggestions. I am not getting any opengl issues. However i get different error, below is the error. Could you suggest help regarding this.

CCLD     libopenwebrtc.la
  GISCAN Owr-0.1.gir
./.libs/libopenwebrtc.so: undefined reference to `eglCreateWindowSurface'
./.libs/libopenwebrtc.so: undefined reference to `egl

[2015-03-09 18:12] frozeus commented on #172
@ford-prefect Did you have time to check the log ? If you have a more verbose version of interapp i  could give you the output log.

Thanks for your help

[2015-03-09 18:23] superdump commented on #222
Sounds like @Rugvip has tested Android pre-data channel changes with cerbero and that all works.

[2015-03-09 20:21] Rugvip commented on #222
@superdump Not quite. It didn't work pre-data channel because of the gnutls issue, but I haven't tested it since the merge with master. I did get it to build post-data channel thought, but I haven't tested it yet.

[2015-03-09 21:02] sdroege commented on #222
@nirbheek had a fix for the gnustl issue earlier today

[2015-03-10 00:42] ijsf opened #230 "OpenSSL 1.0.2 update causes unresolved symbols on darwin x86_64"
OpenSSL has been updated from version 1.0.1h to 1.0.2 in commit 3f34e4bb8c50ea4286cc142e202ccd48be9e8d0b.

Unfortunately, 1.0.2 does currently not compile on armv7 (iOS) due to unresolved symbols in the openssl linking step. This is probably a OpenSSL issue, but I have filed it here just for consistency.

To work around this issue, the above commit can be reverted so that 1.0.1h is used for armv7.

[2015-03-10 01:13] ijsf opened #232 "sctp dependency causes unresolved symbols on iOS/armv7"
The current HEAD of OpenWebRTC and all dependencies (except OpenSSL, see other issue) are causing unresolved issues when linking OpenWebRTC in an application. In this case, I am linking OpenWebRTC with a version of Bowser using XCode 6.3, resulting in the following errors:

    Undefined symbols for architecture armv7:
      "_gst_sctp_receive_meta_get_info", referenced from:
          _new_data_c

[2015-03-10 03:12] ford-prefect commented on #172
Sorry, I missed replying to this -- I don't see any output from the interapp code (specifically the GstDeferredClient code in gstintersurface.c) in either of those logs. Could you double-check that they are plugged in and buffers are reaching the interappsink?

[2015-03-10 06:13] sdroege commented on #230
Can you paste the error messages, plus some lines above?

[2015-03-10 06:15] stefhak opened #233 "Can't build dependencies any more"
Following the instructions at https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC (starting from scratch) I get to the step "./build-all.sh -Cbr osx" where it fails with the following (end of) log:
"...
Making install in testsuite
make[1]: Nothing to be done for `install'.
Making install in examples
true
Marking build successful in nettle-2.7.1
clean_source, /Users/eplhak/githu

[2015-03-10 06:44] ford-prefect commented on #230
I hit what might be this problem on OS X (bunch of undefined symbols in the linking step) -- wiping out the source directory and rebuilding fixed it.

[2015-03-10 10:01] ford-prefect commented on #230
I'm seeing this on armv7s - https://gist.githubusercontent.com/ford-prefect/0ede4650aa86e1807363/raw/8bf46b90c08689ce3f09700ec365140813bdcbe0/openssl-compile.log

[2015-03-10 10:36] ijsf commented on #230
The error messages are identical to those posted by ford-prefect.

[2015-03-10 11:28] ijsf commented on #232
Probably found one cause: the dist step in openwebrtc-gst-plugins is failing to put the produced files in the correct path on OS X. It seems the absolute dist path is accidentally concatenated.

For example, this path:
    /Users/ijsf/cerbero/sources/ios_armv7/openwebrtc-gst-plugins-static-0.0.1/static-build//Users/ijsf/cerbero/dist/ios_armv7/lib

Should have been:
    /Users/ijsf/cerbero/dist/ios

[2015-03-10 11:36] ijsf commented on #232
And the root cause is, of course, that I forgot to add the .a static libraries to XCode.

[2015-03-10 15:41] ijsf opened #236 "Excessively slow handshaking on iOS/armv7"
When using Bowser and demo.openwebrtc.io:38080, setting up a call between A and B (see below) takes excessively long (5 minutes or so).

A-side: iOS 8.1.3, iPad Mini Gen 1
B-side: Chrome 41.0.2272.76 (64-bit) on OS X 10.10

[2015-03-10 15:51] nirbheek commented on #161
The GNU C++ STL problem should be fixed now. You need to rebuild icu, javascriptcoregtk, seed, and then openwebrtc. To verify, run `readelf -d ~/cerbero/dist/android_armv7/lib/libopenwebrtc_jni.so | grep gnustl_shared`. That should give no output.

[2015-03-10 16:17] superdump commented on #217
@sdroege that's part of my plan. Widely-used custom sources/renderers gradually get merged back in. appsrc/appsink are obvious candidates.

[2015-03-10 16:20] superdump commented on #236
Is that time to first frame? If not, what is measured?

[2015-03-10 16:40] nirbheek opened #237 "Move Makefile.bundled-shared from openwebrtc.recipe to openwebrtc.git"
Currently, in post_install, the openwebrtc recipe re-creates (Android-specific) libopenwebrtc_jni.so and libopenwebrtc_bridge_jni.so such that all the dependency libraries are linked in statically. We should do this using autotools inside openwebrtc.git. This needs to be done using a specially-crafted linker command (which is done by Makefile.bundled-shared) since there is no way to force libtool

[2015-03-10 16:45] ijsf commented on #236
Correct, time to first frame.

[2015-03-10 17:25] ijsf commented on #186
Just confirmed that I still do not have useful video on iPad Mini Gen 1. Video is either garbled, green or black, and only very rarely I have video for a few seconds. Not sure if that's all caused by this issue though.

[2015-03-10 17:25] #232 closed

[2015-03-10 17:31] frozeus commented on #172
@ford-prefect : I did it again and add more print in the gstinstersurface

https://gist.githubusercontent.com/frozeus/b8197560e95188400638/raw/GST_DEBUG

[2015-03-10 17:50] ford-prefect commented on #172
It's not absolutely clear to me what the problem is, but it could be related to the segment handling being incorrect:

0:01:15.968242791   447   0x7b7430 DEBUG                default /home/clement/linux-wbp//system//gstreamer//./gst/gstsegment.c:483:gst_segment_to_running_time: invalid position (-1)

If you're up to it, a backtrace of where that message is coming from can confirm this (and would p

[2015-03-10 18:22] frozeus commented on #172
Sorry if the answer is obvious but what is the point to use 2 different pipelines and connect them with an intersrc/sink ? (instead of all the element in the same pipeline)

[code]

[2015-03-10 20:06] ford-prefect commented on #230
I've got a fix for this at https://github.com/nirbheek/cerbero/pull/12 -- not merging it directly because I'd like to make sure the openssl patch looks okay to push upstream as well

[2015-03-10 23:03] sdroege commented on #236
I'm looking into some issues with libnice that can cause this currently.

Also see https://github.com/EricssonResearch/openwebrtc/issues/186

[2015-03-10 23:29] sdroege commented on #155
I have some ideas how we can improve latency handling (and at the same time make zerocopy between camera/encoder/sink or camera/decoder/sink work better). Will write that down tomorrow for further discussion.

[2015-03-10 23:49] nirbheek commented on #222
The GNU C++ STL issue should be fixed now. Another item on the list of things to do for this:

1) Move cerbero from nirbheek/ to EricssonResearch/
2) Rebase the openwebrtc branch on top of master once before the move (we started merging all changes from master a while back)

[2015-03-10 23:54] sdroege commented on #222
Which merging here you mean the Android autotools changes?

[2015-03-10 23:58] nirbheek commented on #222
I meant that we were merging cerbero's origin/master into nirbheek/openwebrtc instead of rebasing so that people wouldn't have to do `git pull --force`. We should rebase that one last time, and then continue merging in the future.

[2015-03-11 00:05] nirbheek commented on #237
This is also relevant to Android packaging because for Android, libopenwebrtc.so and libopenwebrtc_bridge.so should be "fat" libraries as well with no dynamic library dependencies except those that are provided natively by Android (the rest should be bundled in just like libopenwebrtc_jni.so).

The current proposal is to make the changes required for this to openwebrtc.git's autotools and add thos

[2015-03-11 06:34] stefhak commented on #233
I did a new test today (clean build following https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC) and get the same error as above (I saw some activities so I figured this might have been fixed).
I think it is important that the build guides work (and besides I want to create a PR and for doing that I need a working build to test).

[2015-03-11 07:38] superdump commented on #222
I'm working on the details of 1) and hope to sort that out soon.

[2015-03-11 07:43] superdump commented on #233
We are in the process of finalizing the move to the new build system and fixing issues there is too priority. We'll be done this week/next. You're welcome to try that instead.

[2015-03-11 07:44] superdump commented on #233
https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC-with-Cerbero

[2015-03-11 08:32] stefhak commented on #233
That one builds!

However, I'm lacking info on how to use the result (i.e. where is the new
./out/x86_64...darwin/bin/openwebrtc daemon run).

On Wed, Mar 11, 2015 at 8:44 AM, Robert Swain <notifications@github.com>
wrote:

[2015-03-11 09:10] superdump commented on #233
[code]

[2015-03-11 10:18] stefhak commented on #233
I need to expose my full ignorance. How exactly do you start the cerbero
shell?

On Wed, Mar 11, 2015 at 10:10 AM, Robert Swain <notifications@github.com>
wrote:

[2015-03-11 10:46] richardmitic commented on #233
In the cerbero directory:
[code]
While you're in the shell you can also try ```which openwebrtc-daemon``` to find the location.

[2015-03-11 10:49] frozeus commented on #172
@ford-prefect i push to my modification for the appsrc and the compressed audio on my repo maybe that can help.

https://github.com/frozeus/openwebrtc/commits/compressed

[2015-03-11 11:17] superdump commented on #233
Sorry, I have an alias from `cerbero` with the path to my cerbero-uninstalled.

[2015-03-11 14:35] sdroege opened #240 "Latency, synchronization and zerocopy improvements"
I had an idea how we could relatively simply improve latency in owr, and
also make it easier for zerocopy to work properly. And as a side effect
also give better synchronization between different streams.

So the main idea is the following:
1) All Owr pipelines explicitly use the system clock as clock, and
explicitly have 0 set as base time on them

2) The connections between the different pipelin

[2015-03-11 14:45] nirbheek commented on #222
I created a wiki page with a list of configurations we need to test to be sure that Cerbero works:

https://github.com/EricssonResearch/openwebrtc/wiki/Cerbero-Testing

If everyone could commit to whichever configurations they can test (and/or add more), that would be great. :)

[2015-03-11 16:27] Rugvip commented on #161
This is now working for me on OS X, but I guess it would be good if someone could build and verify on a Linux host as well before we close the issue.

[2015-03-11 21:05] ijsf opened #243 "Inconsistent capture frame rate on iOS/armv7"
I have been testing the local video capturing in the iOS build of OpenWebRTC on an iPad Mini Gen 1 (armv7) using demo.openwebrtc.io:38080 and noticed that the frame rate of the local video frame is very inconsistent. At times it is reasonably fast (15 to 30 Hz), but most of the time it is way too low (1 Hz).

The video capturing is handled by the sys/applemedia code in gst-plugins-bad. I've been c

[2015-03-11 21:14] ijsf commented on #240
Not sure if this is related, but I've noticed a significant memcpy operation that has been popping up in Time Analyzer (~9% when only viewing local video on demo.openwebrtc.io).

Looking at the code, it is the following line in `gstintervideosrc.c`:

    buffer = gst_buffer_make_writable (buffer);

Making the buffer writable obviously creates a new buffer and copies the contents into it, as per th

[2015-03-11 21:46] hlevring commented on #2
@agouaillard yes it would definitely be nice to know if you made any progress. This is an awesome project but windows support is really a big missing feature.

[2015-03-11 22:54] ijsf commented on #236
Compiling with -O2 flag (-Os is currently standard for `config/ios.config`) helps to reduce the required time.

[2015-03-11 23:35] sdroege commented on #240
Slightly related :) This also only creates a copy if the memory inside the buffer is not shareable. Usually it will only create a shallow copy of the buffer (so you can modify the metadata), not a deep copy including all the memory behind the buffer.

[2015-03-11 23:36] sdroege commented on #243
This is probably the same as https://github.com/EricssonResearch/openwebrtc/issues/96

[2015-03-11 23:38] sdroege commented on #236
That would be unrelated to what I'm looking into then. Do you have some profiler information about what takes so much more time with -Os than with -O2?

[2015-03-11 23:41] ijsf commented on #243
Yeah, seems similar. Good thing is the fix seems to be consistently working here.

[2015-03-11 23:43] nirbheek commented on #2
Somewhat relatedly, #222 tracks our move to using Cerbero as the build system, which has support for building for Windows (cross-compiling) and on Windows (through mingw32, afaik, but maybe more). The GStreamer binaries for Windows are built using Cerbero, so most of the dependencies will work just fine there. If someone is interested in that, one can start there. :smile:

[2015-03-11 23:47] sdroege commented on #2
The main work will probably be in getting gobject-introspection, javascriptcore and seed to work properly on Windows. Otherwise everything else should be more or less working already.

[2015-03-12 06:17] superdump commented on #243
What does the capture preset do? Should it be configurable? Should it be a separate patch? Can you submit those patches upstream?

[2015-03-12 06:23] superdump commented on #2
So basically the OpenWebRTC C API may work on windows already...

[2015-03-12 06:41] superdump commented on #222
Nice! I added a couple more iOS devices of interest.

[2015-03-12 08:28] ijsf commented on #243
Fixed that. How do I submit upstream?

https://github.com/ijsf/OpenWebRTC-gst-plugins-bad/commit/887700d3eb85f35643c4246ef53608232b9b4528

[2015-03-12 08:58] hlevring commented on #2
We are preparing the design and development work on a new product where we want  to use OpenWebRTC. Plan is to start sometime in early April, so this seems like perfect timing. Thanks guys

[2015-03-12 09:39] superdump commented on #243
Create an account at http://bugzilla.gnome.org/ and then create a ticket against gst-plugins-bad git master for avfvideosrc I guess: https://bugzilla.gnome.org/enter_bug.cgi?product=GStreamer

[2015-03-12 09:44] superdump commented on #2
For reference: https://github.com/EricssonResearch/openwebrtc/wiki/Building-OpenWebRTC-with-Cerbero

We have not yet tested anything on Windows though. I'll see about doing that at some point soon.

@sdroege what is the current status of GStreamer camera / audio sources and sinks on Windows?

[2015-03-12 09:54] sdroege commented on #2
The C API should already work, yes... except for the missing device listing on Windows.

Audio source would be directsoundsrc (or wasapisrc but that is not great yet), sink directsoundsink (or wasapisink but see before). Video sink would be d3dvideosink or glimagesink. And video source, there's something for DirectShow (but deprecated by MS since years) and ksvideosrc (also deprecated now IIRC). B

[2015-03-12 09:55] sdroege commented on #243
There's also something with autofocus settings that can improve the situation here according to @alessandrod

[2015-03-12 15:21] ijsf opened #244 "rtpsource cannot interpolate rtp time (green video)"
Though I'd create a separate issue for this one, although the resulting problems are still occassional green/missing video on the A-side, and consistently green video on the B-side.

I have been testing the local video capturing in the iOS build of OpenWebRTC on an iPad Mini Gen 1 (armv7) using demo.openwebrtc.io:38080.

A-side: iOS 8.1.3, iPad Mini Gen 1
B-side: Chrome 41.0.2272.76 (64-bit) on OS

[2015-03-12 15:46] frozeus commented on #172
I think my appsrc is not working properly. I tried to connect it directly inside the transport pipeline without interapp* but still the same issue the buffer inside appsrc is increassing but never release the data.

[2015-03-12 15:49] szimek commented on #211
@stefanalund It looks like it's been already reported some time ago: https://code.google.com/p/webrtc/issues/detail?id=3849

[2015-03-12 17:08] ijsf commented on #236
By the way, it seems that the first attempt is always failing. I'm always getting this message before a whole lot of gst stuff reappears:

    erdtlssrtpdemux src/gsterdtlssrtpdemux.c:136:sink_chain:<dtls-srtp-demux> received invalid buffer: 1

[2015-03-12 17:12] ijsf commented on #244
I worked around the `cannot interpolate rtp time` issue in my fork by implementing a `request-pt` callback for `rtpjitterbuffer` that passes on the caps including the `clock-rate`. Does not seem to completely solve the green video issue.

https://github.com/ijsf/openwebrtc/commit/997ac7e5b5a07572de2d6cd554d4788448c75d34

[2015-03-12 17:17] sdroege commented on #244
For which pt is it requesting the caps? Isn't it complaining about no clock-rate on the RTCP caps?

But it would make sense probably to keep a pt->caps map around and let rtpbin request caps from that in any case.

[2015-03-12 19:14] ijsf commented on #244
I'm not sure yet. What I can tell from the logs is that there is a proxypad `GstRtpBin:rtpbin.GstGhostPad:recv_rtp_src_1_2426246665_100.GstProxyPad` and it contains a clock-rate in the caps.

[2015-03-12 22:29] superdump commented on #172
The long-term solution for the Raspberry Pi might be:
* Create a cerbero configuration for the RPi
* Use rpicamsrc as the camera source to deliver encoded H.264 (or experimental VP8?)
* Use omxh264dec (or omxvp8dec for VP8) to decode to uncompressed for displaying a preview
* Bug fixing
* Optimize crypto stuff as necessary / if possible

The Raspberry Pi is, as many know, a very capable platform w

[2015-03-12 22:55] sdroege commented on #236
I think that didn't happen anymore with my changes to delay DTLS until the ICE connection is set up

[2015-03-12 23:36] ijsf commented on #236
The above message occurred with latest master of OpenWebRTC and all dependencies.

[2015-03-12 23:58] ijsf commented on #244
It seems something odd is going on with the timing. Perhaps this has to do with the performance on the iPad, or with the system time synchronization mechanism on iOS that gstreamer apparently relies on.

I've tried to change rtpbin to use the pipeline running-time instead of the system clock (if I understand this correctly, see discussion at http://comments.gmane.org/gmane.comp.video.gstreamer.bug

[2015-03-13 01:19] ijsf commented on #62
Somebody submitted a patch on the libnice list, see link above.

[2015-03-13 08:06] sdroege commented on #172
See also #240

[2015-03-13 08:23] sdroege commented on #244
Yeah if everything is too slow, RTP won't work very nicely.

[2015-03-13 08:25] superdump commented on #244
It has to be real-time! :smiley:

[2015-03-15 04:51] EvilTrev opened #245 "gnutls doesn't clone"
Building for iOS and the dependencies cannot progress past this lib

[code]

[2015-03-15 04:53] #245 closed

[2015-03-15 04:53] EvilTrev commented on #245
See this is duped in another issue...

[2015-03-15 19:13] lgrahl commented on #97
Same problem here.

[2015-03-15 20:11] EvilTrev commented on #233
I followed the cerbero steps, and left it compiling all night... it failed on step 33 of the universal build:

[code]